Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

feat: add codex CLI harness spec and check script
  modules/kloop-ts/package.json
  modules/kloop-ts/spec-codex.md
Due: md-fmt

feat: unify hooks, RTK, and skills across all agent harnesses
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  modules/agent-config/auth.nix
  modules/agent-config/codex-auto-hooks.nix
  modules/agent-config/codex-hooks.nix
  modules/agent-config/codex-settings.nix
  modules/agent-config/default.nix
  modules/agent-config/gemini-hooks.nix
  modules/agent-config/hooks/rtk-rewrite-gemini.sh
  modules/agent-config/hooks/rtk-rewrite.sh
  modules/agent-config/opencode-plugins/loctl.ts
  modules/agent-config/opencode-plugins/rtk.ts
  modules/agent-config/skills/liftoff-ops/SKILL.md
  modules/kloop-ts/specs/move-to-global.md
  modules/kloop-ts/specs/synthesis-rereview-dynamic-ordering.md
Due: shfmt, cfg-scripts, md-fmt, nixpkgs-fmt

feat: replace codex118 with claude-code-nix and update agent tooling
  .gitignore
  darwin.nix
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  modules/agent-config/auth.nix
  modules/kautopilot-ts/src/core/__tests__/config-dir.test.ts
  modules/kautopilot-ts/src/core/__tests__/devloop.test.ts
  modules/kautopilot-ts/src/core/config.ts
  modules/kautopilot-ts/src/core/devloop.ts
  modules/kautopilot-ts/src/core/types.ts
  modules/kautopilot-ts/src/core/zellij.ts
  modules/kautopilot-ts/src/phases/__tests__/triage.test.ts
  modules/kautopilot-ts/src/phases/phase3/__tests__/phase3.test.ts
  modules/kloop-ts/src/agents/default-prompts.ts
  modules/kloop-ts/src/agents/prompts.ts
  modules/kloop-ts/src/agents/runner.ts
  modules/kloop-ts/src/cli/run.ts
  modules/kloop-ts/src/deps.ts
  modules/kloop-ts/src/loop/iteration.ts
  modules/kloop-ts/src/loop/runner.ts
  modules/kloop-ts/src/types.ts
Due: nixpkgs-fmt

feat: add Kubernetes and OCI helpers
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  modules/agent-config/CLAUDE.md
  modules/agent-config/auth.nix
  modules/agent-config/codex-settings.nix
  modules/agent-config/default.nix
  modules/default.nix
  modules/k8s-merge/default.nix
  modules/k8s-merge/default.sh
  modules/k8s-update/default.sh
  modules/oci-k8s-update/default.nix
  modules/oci-k8s-update/default.sh
  modules/oci-oke-allow-my-ip/default.nix
  modules/oci-oke-allow-my-ip/default.sh
Due: shfmt, cfg-scripts, md-fmt, nixpkgs-fmt

docs: kautopilot review steps link to the web viewer
  modules/agent-config/skills/kautopilot/SKILL.md
  modules/khost-ts/src/ssh.ts
Due: md-fmt

chore: upgrade to nixpkgs 26.05 and atomi v3
  flake.lock
  flake.nix
  home-template.nix
Due: nixpkgs-fmt

feat: add standalone babysit-pr skill
  flake.lock
  modules/agent-config/skills/babysit-pr/SKILL.md
  modules/khost-ts/SPEC-route-manager.md
  modules/khost-ts/proxy/routes.yaml
  modules/khost-ts/src/cloudflare.ts
  modules/khost-ts/src/deps.ts
  modules/khost-ts/src/index.ts
  modules/khost-ts/src/routes.ts
  modules/khost-ts/src/ssh.ts
Due: yaml-fmt, md-fmt

feat(khost): require WARP device posture on the only-me Access policy
  modules/khost-ts/SPEC-route-manager.md
  modules/khost-ts/src/cloudflare.ts
  modules/khost-ts/src/deps.ts
  modules/khost-ts/src/routes.ts
Due: md-fmt

feat(khost): run the tunnel as a persistent service (survives reboot)
  modules/khost-ts/src/deps.ts
  modules/khost-ts/src/tunnel.ts
Due: none

fix(khost): make tunnel up self-heal instead of killing the tunnel
  modules/khost-ts/src/tunnel.ts
Due: none

fix(khost): force http2 + hand-rolled launchd daemon for the tunnel
  modules/khost-ts/src/deps.ts
  modules/khost-ts/src/tunnel.ts
Due: none

docs: kautopilot iterates artifacts until feedback is exhausted
  modules/agent-config/skills/kautopilot/SKILL.md
Due: md-fmt

refactor: make kautopilot spec high-level (goals/ideas, no code)
  modules/kautopilot-ts/src/core/types.ts
Due: none

feat: kautopilot complete infers the pending step (binary owns the cursor)
  modules/agent-config/skills/kautopilot/SKILL.md
  modules/kautopilot-ts/CLI-CONTRACT.md
  modules/kautopilot-ts/src/cli/complete.ts
  modules/kautopilot-ts/src/core/driver.ts
  modules/kautopilot-ts/src/steps/__tests__/driver.test.ts
Due: md-fmt

feat(viewer): color bold, italic, and inline code in the prose view
  modules/kautopilot-ts/src/server/page.ts
Due: none

feat: per-presentation versions, revise command, reviewers before present
  modules/kautopilot-ts/src/cli/logs.ts
  modules/kautopilot-ts/src/cli/revise.ts
  modules/kautopilot-ts/src/core/driver.ts
  modules/kautopilot-ts/src/core/revisions.ts
  modules/kautopilot-ts/src/core/status.ts
  modules/kautopilot-ts/src/core/types.ts
  modules/kautopilot-ts/src/index.ts
  modules/kautopilot-ts/src/steps/__tests__/driver.test.ts
  modules/kautopilot-ts/src/steps/__tests__/fixes.test.ts
  modules/kautopilot-ts/src/steps/plan.ts
  modules/kautopilot-ts/src/steps/polish.ts
  modules/khost-ts/proxy/routes.yaml
Due: yaml-fmt
