Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

feat(kteam): ps shows running only by default, -a shows all
  modules/kteam-ts/src/index.ts
Due: none

docs(kteam): log mm3 login-wall recurrence + resume findings
  kteam-prob.md
Due: md-fmt

chore(kfleet): remove redundant f5-* agents and fable profile
  kfleet/config.yaml
Due: yaml-fmt

docs(kteam): handoff chain + model routing policy in skill and memory
  kfleet/CLAUDE.auto.md
  kfleet/CLAUDE.md
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
Due: md-fmt

docs(kteam): require CLI/model/task assignment table in skill
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
Due: md-fmt

feat(kteam): teammate callsigns + model column in listings
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/names.test.ts
  modules/kteam-ts/src/names.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/types.ts
Due: md-fmt

fix(kteam): flap/injection/stall/quota fixes, richer recommend
  kteam-prob.md
  modules/kteam-ts/src/api-client.ts
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/tmux-controller.test.ts
  modules/kteam-ts/src/tmux-controller.ts
  modules/kteam-ts/src/types.ts
Due: md-fmt

fix(kteam): alternate harness families in recommend fills
  modules/kteam-ts/src/core.ts
Due: none

fix(kteam): source ~/.secrets in pane launcher
  kteam-prob.md
  modules/kteam-ts/src/tmux-controller.ts
Due: md-fmt

feat(kteam): usage-aware recommend via kfleet usage
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/types.ts
Due: none

feat(kloop,kautopilot): dispatch agents through kteam
  kfleet/skills/kautopilot/SKILL.md
  modules/kautopilot-ts/src/core/descriptor.ts
  modules/kloop-ts/src/agents/default-config.ts
  modules/kloop-ts/src/agents/runner.ts
  modules/kloop-ts/src/types.ts
Due: md-fmt

fix(kloop,kautopilot): floop round-1 findings
  kfleet/skills-codex/kautopilot/SKILL.md
  modules/kloop-ts/src/agents/runner.ts
Due: md-fmt

docs(kteam): log 07-17→19 session problems (injection stalls, races)
  kteam-prob.md
Due: md-fmt

fix(kteam): turn-start proof, serialized bootstrap, revive-send
  kteam-prob.md
  modules/kfleet-ts/src/core/generate.ts
  modules/kteam-ts/render-check.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/tmux-controller.test.ts
  modules/kteam-ts/src/tmux-controller.ts
Due: md-fmt

chore: drop stray render-check scratch file
  modules/kteam-ts/render-check.ts
Due: none

docs(kteam): clear resolved problem log; history stays in git
  kteam-prob.md
Due: md-fmt

fix(kteam): safe interrupt, queued send, false-busy and hook fixes
  kfleet/config.yaml
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
  kfleet/templates/claude/settings.json
  kfleet/templates/codex/hooks.json
  kteam-prob.md
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/tmux-controller.test.ts
  modules/kteam-ts/src/tmux-controller.ts
  modules/kteam-ts/src/types.ts
Due: yaml-fmt, md-fmt

feat(kteam): ps header + label ownership, prompt/message files
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/types.ts
Due: md-fmt

fix(khost): survive absent config sections; enable on kirin-box
  modules/khost-ts/src/config.ts
  profiles.nix
Due: nixpkgs-fmt

feat(khost): linux keeps system sshd public; abs cloudflared path
  modules/khost-ts/src/config.ts
  modules/khost-ts/src/deps.ts
  modules/khost-ts/src/init.ts
  modules/khost-ts/src/ssh.ts
  modules/khost-ts/src/tunnel.ts
Due: none
