Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

feat(claude-config): add statusline and refine autopilot polish flow
  flake.lock
  home-template.nix
  modules/claude-config/auth.nix
  modules/claude-config/base-settings.nix
  modules/claude-config/skills/kagent-autopilot/SKILL.md
  modules/claude-config/skills/kagent-autopilot/common/clear-loop.md
  modules/claude-config/skills/kagent-autopilot/common/run-devloop.md
  modules/claude-config/skills/kagent-autopilot/polish/PHASE.md
  modules/claude-config/skills/kagent-autopilot/polish/resolvers/ci-resolver.md
  modules/claude-config/skills/kagent-autopilot/polish/resolvers/coderabbit-resolver.md
  modules/claude-config/skills/kagent-autopilot/polish/resolvers/rebase-resolver.md
  modules/claude-config/skills/kagent-autopilot/polish/resolvers/review-resolver.md
  modules/claude-config/skills/kagent-autopilot/polish/resolvers/thread-resolver.md
  modules/claude-config/skills/kagent-autopilot/polish/state-agent.md
  modules/claude-config/skills/kagent-autopilot/polish/steps/commit-pending.md
  modules/claude-config/skills/kagent-autopilot/polish/steps/create-pr.md
  modules/claude-config/skills/kagent-autopilot/polish/steps/feedback-check.md
  modules/claude-config/skills/kagent-autopilot/polish/steps/poll.md
  modules/claude-config/skills/kagent-autopilot/polish/steps/prereview.md
  modules/claude-config/skills/kagent-autopilot/polish/steps/push.md
  modules/claude-config/skills/kagent-autopilot/polish/steps/resolve.md
  modules/claude-config/skills/kagent-autopilot/polish/steps/write-fix-spec.md
  modules/claude-config/statusline.zsh
  modules/claude-config/telegram-notify.sh
  p10k-config/.p10k.zsh
Due: shfmt, cfg-scripts, md-fmt, nixpkgs-fmt

feat(skills): add per-file-fix two-phase scan+fix skill
  modules/claude-config/skills/per-file-fix/SKILL.md
  modules/claude-config/skills/per-file-fix/scripts/init-state.sh
  modules/claude-config/skills/per-file-fix/scripts/mark-done.sh
  modules/claude-config/skills/per-file-fix/scripts/next-file.sh
  modules/claude-config/skills/per-file-fix/templates/output.md
Due: shfmt, cfg-scripts, md-fmt

feat: try minimax official
  flake.lock
  home-template.nix
  modules/claude-config/auth.nix
  modules/claude-config/base-settings.nix
Due: nixpkgs-fmt

feat: unify agent configs and enhance dev-loop
  flake.lock
  home-template.nix
  modules/claude-config/CLAUDE-autonomous.md
  modules/claude-config/CLAUDE-reviewer.md
  modules/claude-config/auth.nix
  modules/claude-config/base-mcp.nix
  modules/claude-config/default.nix
  modules/claude-config/skills/clickup-task/SKILL.md
  modules/claude-config/skills/kagent-autopilot/SKILL.md
  modules/claude-config/skills/kagent-autopilot/common/run-devloop.md
  modules/claude-config/skills/kagent-autopilot/implementation/steps/setup-run.md
  modules/claude-config/skills/kagent-autopilot/plan/steps/setup.md
  modules/claude-config/skills/kagent-run/SKILL.md
  modules/claude-config/skills/kagent-run/examples.md
  modules/claude-config/skills/kagent-run/reference.md
  modules/dev-loop-ts/dist/index.js
  modules/dev-loop-ts/src/agents/prompts.ts
  modules/dev-loop-ts/src/agents/runner.ts
  modules/dev-loop-ts/src/agents/verdicts.ts
  modules/dev-loop-ts/src/cli/history.ts
  modules/dev-loop-ts/src/cli/index.ts
  modules/dev-loop-ts/src/cli/init.ts
  modules/dev-loop-ts/src/cli/metrics.ts
  modules/dev-loop-ts/src/cli/run.ts
  modules/dev-loop-ts/src/cli/status.ts
  modules/dev-loop-ts/src/deps.ts
  modules/dev-loop-ts/src/history/format.ts
  modules/dev-loop-ts/src/loop/consensus.ts
  modules/dev-loop-ts/src/loop/iteration.ts
  modules/dev-loop-ts/src/loop/runner.ts
  modules/dev-loop-ts/src/state/config.ts
  modules/dev-loop-ts/src/state/service.ts
  modules/dev-loop-ts/src/stream/parse.ts
  modules/dev-loop-ts/src/types.ts
  secrets.enc.yaml
Due: yaml-fmt, md-fmt, nixpkgs-fmt

chore: track bun.lock for reproducible builds
  modules/claude-config/skills/kagent-autopilot/plan/steps/repo-setup.md
  modules/claude-config/skills/kagent-autopilot/repos/atomicloud.md
  modules/kautopilot-ts/bun.lock
  modules/kautopilot-ts/spec/artifacts.md
  modules/kautopilot-ts/spec/cli.md
  modules/kautopilot-ts/spec/overview.md
  modules/kautopilot-ts/spec/phase1-plan.md
  modules/kautopilot-ts/spec/phase2-implementation.md
  modules/kautopilot-ts/spec/phase3-polish.md
Due: md-fmt

feat: working kloop
  home-template.nix
  modules/kloop-ts/default.nix
  modules/kloop-ts/dist/index.js
  modules/kloop-ts/src/agents/runner.ts
  modules/kloop-ts/src/cli/init.ts
  modules/kloop-ts/src/cli/metrics.ts
  modules/kloop-ts/src/cli/run.ts
  modules/kloop-ts/src/cli/setup.ts
  modules/kloop-ts/src/cli/status.ts
  modules/kloop-ts/src/loop/runner.ts
  modules/kloop-ts/src/state/config.ts
  modules/kloop-ts/src/state/service.ts
  modules/kloop-ts/src/status/materialize.ts
  modules/kloop-ts/src/types.ts
Due: nixpkgs-fmt

feat: kloop gemini support
  darwin.nix
  home-template.nix
  modules/claude-config/skills/liftoff-ops/SKILL.md
  modules/default.nix
  modules/kautopilot-ts/dist/index.js
  modules/kautopilot-ts/spec.md
  modules/kautopilot-ts/src/cli/describe.ts
  modules/kautopilot-ts/src/cli/init.ts
  modules/kautopilot-ts/src/cli/start.ts
  modules/kautopilot-ts/src/cli/status.ts
  modules/kautopilot-ts/src/core/__tests__/artifacts.test.ts
  modules/kautopilot-ts/src/core/__tests__/db.test.ts
  modules/kautopilot-ts/src/core/__tests__/init-status.test.ts
  modules/kautopilot-ts/src/core/artifacts.ts
  modules/kautopilot-ts/src/core/init-db.ts
  modules/kautopilot-ts/src/core/init-lock.ts
  modules/kautopilot-ts/src/core/init-status.ts
  modules/kautopilot-ts/src/core/init-types.ts
  modules/kautopilot-ts/src/core/log.ts
  modules/kautopilot-ts/src/core/status.ts
  modules/kautopilot-ts/src/phases/__tests__/init-detect-e2e.test.ts
  modules/kautopilot-ts/src/phases/__tests__/init-normalize-e2e.test.ts
  modules/kautopilot-ts/src/phases/__tests__/local-ticket-e2e.test.ts
  modules/kautopilot-ts/src/phases/init/index.ts
  modules/kautopilot-ts/src/phases/init/states.ts
  modules/kautopilot-ts/src/util/markdown.ts
  modules/kloop-ts/default.nix
  modules/kloop-ts/dist/index.js
  modules/kloop-ts/package.json
  modules/kloop-ts/spec.md
  modules/kloop-ts/src/agents/runner.ts
  modules/kloop-ts/src/cli/stream.ts
  modules/kloop-ts/src/cli/view.ts
  modules/kloop-ts/src/stream/format.ts
  modules/kloop-ts/src/stream/parse.ts
  modules/kloop-ts/src/types.ts
  modules/loctl/default.nix
  modules/loctl/default.sh
Due: shfmt, cfg-scripts, md-fmt, nixpkgs-fmt

feat: kautopilot refactor for local mx8v and kloop enhancements
  modules/claude-config/skills/kagent-run/SKILL.md
  modules/claude-config/skills/kagent-run/examples.md
  modules/claude-config/skills/kagent-run/reference.md
  modules/claude-config/skills/kagent-run/templates/spec-template.md
  modules/kautopilot-ts/SPEC-init.md
  modules/kautopilot-ts/spec.md
  modules/kautopilot-ts/src/core/__tests__/config-dir.test.ts
  modules/kautopilot-ts/src/core/git.ts
  modules/kautopilot-ts/src/core/github.ts
  modules/kautopilot-ts/src/core/status.ts
  modules/kautopilot-ts/src/core/types.ts
  modules/kautopilot-ts/src/phases/__tests__/e2e-scenarios.test.ts
  modules/kautopilot-ts/src/phases/init/states.ts
  modules/kautopilot-ts/src/phases/phase2/commit.ts
  modules/kautopilot-ts/src/phases/phase3/__tests__/phase3.test.ts
  modules/kautopilot-ts/src/phases/phase3/commit-pending.ts
  modules/kautopilot-ts/src/phases/phase3/eval.ts
  modules/kautopilot-ts/src/phases/phase3/poll.ts
  modules/kautopilot-ts/src/phases/phase3/push.ts
  modules/kautopilot-ts/src/phases/shared.ts
  modules/kloop-ts/dist/index.js
  modules/kloop-ts/src/cli/describe.ts
  modules/kloop-ts/src/cli/status.ts
Due: md-fmt

feat: remove base-hooks
  modules/claude-config/CLAUDE.md
  modules/claude-config/base-hooks.nix
Due: md-fmt, nixpkgs-fmt

fix: cleanup kloop
  modules/kloop-ts/knip.json
  modules/kloop-ts/package.json
  modules/kloop-ts/src/agents/prompts.ts
  modules/kloop-ts/src/agents/runner.ts
  modules/kloop-ts/src/agents/verdicts.ts
  modules/kloop-ts/src/cli/describe.ts
  modules/kloop-ts/src/cli/metrics.ts
  modules/kloop-ts/src/cli/poll-pr.ts
  modules/kloop-ts/src/cli/ps.ts
  modules/kloop-ts/src/cli/shared.ts
  modules/kloop-ts/src/cli/status.ts
  modules/kloop-ts/src/cli/view.ts
  modules/kloop-ts/src/deps.ts
  modules/kloop-ts/src/index-db.ts
  modules/kloop-ts/src/logs/service.ts
  modules/kloop-ts/src/loop/consensus.ts
  modules/kloop-ts/src/loop/format.ts
  modules/kloop-ts/src/loop/iteration.ts
  modules/kloop-ts/src/loop/runner.ts
  modules/kloop-ts/src/state/service.ts
  modules/kloop-ts/src/stream/format.ts
  modules/kloop-ts/src/stream/parse.ts
  modules/kloop-ts/src/tmux/commands.ts
  modules/kloop-ts/src/tmux/service.ts
  modules/kloop-ts/src/types.ts
  modules/kloop-ts/tsconfig.json
Due: none

feat: update codex auth and opencode harness docs
  modules/claude-config/auth.nix
  modules/kautopilot-ts/src/cli/snapshot.ts
  modules/kautopilot-ts/src/cli/start.ts
  modules/kautopilot-ts/src/core/__tests__/config-dir.test.ts
  modules/kautopilot-ts/src/core/__tests__/config.test.ts
  modules/kautopilot-ts/src/core/__tests__/devloop.test.ts
  modules/kautopilot-ts/src/core/config.ts
  modules/kautopilot-ts/src/core/devloop.ts
  modules/kautopilot-ts/src/core/types.ts
  modules/kautopilot-ts/src/phases/__tests__/triage.test.ts
  modules/kautopilot-ts/src/phases/phase3/__tests__/phase3.test.ts
  modules/kloop-ts/spec/opencode-harness.md
  modules/kloop-ts/src/agents/default-prompts.ts
  modules/kloop-ts/src/agents/prompts.ts
Due: md-fmt, nixpkgs-fmt

feat: add liftoff sub-skills and kautopilot formatting
  finicky/config.js
  flake.lock
  modules/claude-config/skills/liftoff-argocd/SKILL.md
  modules/claude-config/skills/liftoff-aws/SKILL.md
  modules/claude-config/skills/liftoff-kubernetes/SKILL.md
  modules/claude-config/skills/liftoff-observability/SKILL.md
  modules/claude-config/skills/liftoff-ops/SKILL.md
  modules/kautopilot-ts/src/core/config.ts
  modules/kautopilot-ts/src/core/status.ts
  modules/kautopilot-ts/src/phases/machine.ts
  modules/kautopilot-ts/src/phases/phase2/index.ts
  modules/kloop-ts/bun.lock
  modules/kloop-ts/default.nix
  modules/kloop-ts/src/cli/index.ts
  modules/kloop-ts/src/cli/skill.ts
Due: md-fmt, nixpkgs-fmt

feat: add kloop skill and kautopilot turn-watcher v2
  flake.lock
  modules/claude-config/auth.nix
  modules/claude-config/skills/kloop/SKILL.md
  modules/kautopilot-ts/specs/fix-resolve-rewrite-flow.md
  modules/kautopilot-ts/specs/turn-watcher-v2.md
  modules/kautopilot-ts/src/core/init-status.ts
  modules/kautopilot-ts/src/core/status.ts
  modules/kautopilot-ts/src/core/turn-watcher.test.ts
  modules/kautopilot-ts/src/core/turn-watcher.ts
  modules/kloop-ts/src/loop/runner.ts
  modules/kloop-ts/src/tmux/service.ts
Due: md-fmt, nixpkgs-fmt

feat: implement resolve/rewrite flow with multi-strategy decisions
  home-template.nix
  modules/kautopilot-ts/src/cli/__tests__/snapshot.test.ts
  modules/kautopilot-ts/src/cli/snapshot.ts
  modules/kautopilot-ts/src/core/status.ts
  modules/kautopilot-ts/src/core/types.ts
  modules/kautopilot-ts/src/phases/__tests__/e2e-scenarios.test.ts
  modules/kautopilot-ts/src/phases/__tests__/outcomes.test.ts
  modules/kautopilot-ts/src/phases/phase1/write-plans.ts
  modules/kautopilot-ts/src/phases/phase1/write-spec.ts
  modules/kautopilot-ts/src/phases/phase2/index.ts
  modules/kautopilot-ts/src/phases/phase2/resolve.ts
  modules/kautopilot-ts/src/phases/phase2/rewrite-spec.ts
  modules/kautopilot-ts/src/phases/phase2/types.ts
Due: nixpkgs-fmt

feat: add addressed-reviews evidence to implementer/reviewer prompts
  modules/kloop-ts/src/agents/default-prompts.ts
Due: none
