Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

fix(kteam-ui): land the sessionAnalytics transport its caller needs
  modules/kteam-ts/ui/src/lib/api.test.ts
  modules/kteam-ts/ui/src/lib/api.ts
Due: none

feat(kteam-ui): give the task views a status colour spine
  kteam-prob.md
  modules/kteam-ts/ui/src/components/SessionTasks.test.tsx
  modules/kteam-ts/ui/src/components/SessionTasks.tsx
  modules/kteam-ts/ui/src/components/TaskDagGraph.tsx
  modules/kteam-ts/ui/src/components/TaskPresentation.test.tsx
  modules/kteam-ts/ui/src/components/TaskPresentation.tsx
  modules/kteam-ts/ui/src/components/TaskStatusFilter.test.tsx
  modules/kteam-ts/ui/src/components/TaskStatusFilter.tsx
  modules/kteam-ts/ui/src/components/task-dag.css
  modules/kteam-ts/ui/src/components/task-views.css
Due: md-fmt

feat(kteam): retain documents whose text extraction fails
  modules/kteam-ts/README.md
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/attachments.test.ts
  modules/kteam-ts/src/attachments.ts
  modules/kteam-ts/src/document-extract.test.ts
  modules/kteam-ts/src/document-extract.ts
  modules/kteam-ts/src/service.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/ui/src/components/AttachmentImage.test.tsx
  modules/kteam-ts/ui/src/components/AttachmentImage.tsx
  modules/kteam-ts/ui/src/lib/attachments.test.ts
  modules/kteam-ts/ui/src/lib/attachments.ts
  modules/kteam-ts/ui/src/lib/transcript.test.ts
  modules/kteam-ts/ui/src/lib/transcript.ts
  modules/kteam-ts/ui/src/pages/PendingAttachmentStrip.test.tsx
  modules/kteam-ts/ui/src/pages/SessionChatPage.tsx
Due: md-fmt

fix(kteam): harden bootstrap and migration
  modules/kteam-ts/src/analytics-index.test.ts
  modules/kteam-ts/src/analytics-index.ts
  modules/kteam-ts/src/analytics-types.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/migrate-preflight.test.ts
  modules/kteam-ts/src/migrate-preflight.ts
  modules/kteam-ts/src/performance-audit.test.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/storage.test.ts
  modules/kteam-ts/src/storage.ts
Due: none

docs(kteam): log the wedged-bootstrap incident
  kteam-prob.md
Due: md-fmt

build(kteam-ui): deploy release 1a4397521a0b
  modules/kteam-ts/ui-dist/assets/AnalyticsSurface-D3P0nC9m.js
  modules/kteam-ts/ui-dist/assets/AnalyticsSurface-T1aasxj4.js
  modules/kteam-ts/ui-dist/assets/GlobalAnalyticsPage-DDzKX2yD.js
  modules/kteam-ts/ui-dist/assets/GlobalAnalyticsPage-rD5igZj7.js
  modules/kteam-ts/ui-dist/assets/Markdown-D97Jn8Ll.js
  modules/kteam-ts/ui-dist/assets/SessionChatPage-BRdxhDYR.js
  modules/kteam-ts/ui-dist/assets/SessionChatPage-D_mSdva7.js
  modules/kteam-ts/ui-dist/assets/SessionChatPage-J_Pba2bE.css
  modules/kteam-ts/ui-dist/assets/SessionChatPage-eze12d4b.css
  modules/kteam-ts/ui-dist/assets/index-0q4dQ2kT.js
  modules/kteam-ts/ui-dist/assets/index-BXWT9jJi.js
  modules/kteam-ts/ui-dist/assets/index-CsYIHH8u.js
  modules/kteam-ts/ui-dist/assets/index-DFPBqYC0.js
  modules/kteam-ts/ui-dist/assets/remote-enhancement-ByCV_kTn.js
  modules/kteam-ts/ui-dist/assets/remote-enhancement-CW5zhOto.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui-dist/manifest-contrast-dark.1a4397521a0b.json
  modules/kteam-ts/ui-dist/manifest-contrast-light.1a4397521a0b.json
  modules/kteam-ts/ui-dist/manifest-ember-dark.1a4397521a0b.json
  modules/kteam-ts/ui-dist/manifest-ember-light.1a4397521a0b.json
  modules/kteam-ts/ui-dist/manifest-geist-dark.1a4397521a0b.json
  modules/kteam-ts/ui-dist/manifest-geist-light.1a4397521a0b.json
  modules/kteam-ts/ui-dist/manifest-mission-dark.1a4397521a0b.json
  modules/kteam-ts/ui-dist/manifest-mission-light.1a4397521a0b.json
  modules/kteam-ts/ui-dist/manifest-neo-dark.1a4397521a0b.json
  modules/kteam-ts/ui-dist/manifest-neo-light.1a4397521a0b.json
  modules/kteam-ts/ui-dist/manifest-notebook-dark.1a4397521a0b.json
  modules/kteam-ts/ui-dist/manifest-notebook-light.1a4397521a0b.json
  modules/kteam-ts/ui-dist/manifest-studio-dark.1a4397521a0b.json
  modules/kteam-ts/ui-dist/manifest-studio-light.1a4397521a0b.json
  modules/kteam-ts/ui-dist/offline.1a4397521a0b.html
  modules/kteam-ts/ui-dist/sw.1a4397521a0b.js
Due: none

feat(kteam-ui): make the sessions list scannable on a phone
  modules/kteam-ts/ui/src/pages/SessionsListPage.density.test.tsx
  modules/kteam-ts/ui/src/pages/SessionsListPage.tsx
Due: none

docs(kteam): teach agents how to use the task board
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
Due: md-fmt

docs(kteam): add the 2026-07-29 leadership handover
  handover.md
  secrets.enc.yaml
Due: yaml-fmt, md-fmt

feat(kteam): attention contract, fleet stop scopes, route coverage
  modules/kteam-ts/HANDOVER.md
  modules/kteam-ts/src/attention-api.test.ts
  modules/kteam-ts/src/attention-api.ts
  modules/kteam-ts/src/attention-cli.test.ts
  modules/kteam-ts/src/attention-cli.ts
  modules/kteam-ts/src/attention-service.test.ts
  modules/kteam-ts/src/attention-service.ts
  modules/kteam-ts/src/attention-sources.test.ts
  modules/kteam-ts/src/attention-sources.ts
  modules/kteam-ts/src/attention-store.test.ts
  modules/kteam-ts/src/attention-store.ts
  modules/kteam-ts/src/attention-types.ts
  modules/kteam-ts/src/route-coverage.test.ts
  modules/kteam-ts/src/warden-attention.test.ts
  modules/kteam-ts/src/warden-attention.ts
  modules/kteam-ts/ui/src/components/AgentSidebar.test.ts
  modules/kteam-ts/ui/src/components/AgentSidebar.tsx
  modules/kteam-ts/ui/src/components/AttentionPanel.test.tsx
  modules/kteam-ts/ui/src/components/AttentionPanel.tsx
  modules/kteam-ts/ui/src/components/CommandPalette.tsx
  modules/kteam-ts/ui/src/components/ContextMenu.test.tsx
  modules/kteam-ts/ui/src/components/ContextMenu.tsx
  modules/kteam-ts/ui/src/components/SidePaneTabs.test.tsx
  modules/kteam-ts/ui/src/components/SidePaneTabs.tsx
  modules/kteam-ts/ui/src/components/WardenAttention.test.tsx
  modules/kteam-ts/ui/src/components/WardenAttention.tsx
  modules/kteam-ts/ui/src/components/WebTerminals.test.tsx
  modules/kteam-ts/ui/src/components/web-terminals.css
  modules/kteam-ts/ui/src/lib/attention.test.ts
  modules/kteam-ts/ui/src/lib/attention.ts
  modules/kteam-ts/ui/src/lib/stop-actions.test.ts
  modules/kteam-ts/ui/src/lib/stop-actions.ts
  modules/kteam-ts/ui/src/types.ts
Due: md-fmt

feat(kfleet): loge usage via CLIProxyAPI management feed
  home-template.nix
  kfleet/CLAUDE.auto.md
  kfleet/CLAUDE.md
  kfleet/config.yaml
  modules/kfleet-ts/src/cli/usage.test.ts
  modules/kfleet-ts/src/cli/usage.ts
  modules/kfleet-ts/src/core/cliproxy-usage.test.ts
  modules/kfleet-ts/src/core/cliproxy-usage.ts
  modules/kfleet-ts/src/core/config.test.ts
  modules/kfleet-ts/src/core/types.ts
  modules/kfleet-ts/src/core/usage.ts
  modules/kloge-ts/README.md
  modules/kloge-ts/cliproxy-fork/README.md
  modules/kloge-ts/cliproxy-fork/build.sh
  modules/kloge-ts/cliproxy-fork/patches/0001-management-model-states.patch
  modules/kloge-ts/src/build.ts
  modules/kloge-ts/src/paths.ts
  modules/kloge-ts/src/render.test.ts
  modules/kloge-ts/src/render.ts
  modules/load-secrets/default.sh
Due: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

docs(kteam): log the 2026-07-29 problem entries
  kteam-prob.md
Due: md-fmt

perf(kteam): parallelise the fleet-wide task read
  modules/kteam-ts/src/tasks.ts
Due: none

fix(repo): make gitlint work in git worktrees
  kteam-prob.md
  modules/kteam-ts/.gitignore
  nix/pre-commit.nix
Due: md-fmt, nixpkgs-fmt

feat(kteam): tune warden scanning and reporting
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager-warden-failover.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/warden-detect.test.ts
  modules/kteam-ts/src/warden-detect.ts
  modules/kteam-ts/src/warden-verdicts.test.ts
  modules/kteam-ts/src/warden-verdicts.ts
Due: none

feat(kteam): delete the /clear command outright
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/fixtures/claude-clear-real.jsonl
  modules/kteam-ts/src/fixtures/clear-send-real.jsonl
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/tmux-controller.test.ts
  modules/kteam-ts/src/types.ts
  modules/kteam-ts/ui/src/components/ComposerAutocomplete.test.tsx
  modules/kteam-ts/ui/src/components/SessionCommandControls.test.tsx
  modules/kteam-ts/ui/src/components/SessionCommandControls.tsx
  modules/kteam-ts/ui/src/components/composer-autocomplete-providers.test.ts
  modules/kteam-ts/ui/src/components/composer-autocomplete-providers.ts
  modules/kteam-ts/ui/src/lib/api.ts
  modules/kteam-ts/ui/src/lib/system-blocks.ts
  modules/kteam-ts/ui/src/lib/transcript-boundaries.test.ts
  modules/kteam-ts/ui/src/lib/transcript-boundaries.ts
  modules/kteam-ts/ui/src/pages/SessionChatPage.tsx
Due: none

feat(kteam-ui): unified side pane tab system
  modules/kteam-ts/ui/DESIGN-side-pane-tabs.md
  modules/kteam-ts/ui/src/components/SidePane.test.tsx
  modules/kteam-ts/ui/src/components/SidePane.tsx
  modules/kteam-ts/ui/src/components/SidePaneTabs.test.tsx
  modules/kteam-ts/ui/src/components/SidePaneTabs.tsx
  modules/kteam-ts/ui/src/lib/side-pane-tab-model.test.ts
  modules/kteam-ts/ui/src/lib/side-pane-tab-model.ts
Due: md-fmt

feat(kteam-ui): restructure the top bar
  modules/kteam-ts/ui/src/components/AppBar.test.tsx
  modules/kteam-ts/ui/src/components/AppBar.tsx
Due: none

feat(kteam-ui): lock the app to portrait orientation
  modules/kteam-ts/ui/src/lib/orientation-lock.test.ts
  modules/kteam-ts/ui/src/lib/orientation-lock.ts
  modules/kteam-ts/ui/src/main.tsx
Due: none

build(kteam-ui): deploy release b5624c47cfc9
  modules/kteam-ts/ui-dist/assets/AnalyticsSurface-Bfhb4YlH.js
  modules/kteam-ts/ui-dist/assets/GlobalAnalyticsPage-BtGzzLGN.js
  modules/kteam-ts/ui-dist/assets/GlobalAnalyticsPage-rD5igZj7.js
  modules/kteam-ts/ui-dist/assets/Markdown-Q9Tfz093.js
  modules/kteam-ts/ui-dist/assets/SessionChatPage-9Gpowzq5.css
  modules/kteam-ts/ui-dist/assets/SessionChatPage-BRdxhDYR.js
  modules/kteam-ts/ui-dist/assets/SessionChatPage-e3qIEMWh.js
  modules/kteam-ts/ui-dist/assets/index-0q4dQ2kT.js
  modules/kteam-ts/ui-dist/assets/index-Bc1zGZz2.js
  modules/kteam-ts/ui-dist/assets/index-C9N1hcoW.css
  modules/kteam-ts/ui-dist/assets/index-DFPBqYC0.js
  modules/kteam-ts/ui-dist/assets/index-DcUH_Ud2.css
  modules/kteam-ts/ui-dist/assets/index-DfFdbcn9.js
  modules/kteam-ts/ui-dist/assets/remote-enhancement-Bg9v9IDo.js
  modules/kteam-ts/ui-dist/assets/remote-enhancement-ByCV_kTn.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui-dist/manifest-contrast-dark.b5624c47cfc9.json
  modules/kteam-ts/ui-dist/manifest-contrast-light.b5624c47cfc9.json
  modules/kteam-ts/ui-dist/manifest-ember-dark.b5624c47cfc9.json
  modules/kteam-ts/ui-dist/manifest-ember-light.b5624c47cfc9.json
  modules/kteam-ts/ui-dist/manifest-geist-dark.b5624c47cfc9.json
  modules/kteam-ts/ui-dist/manifest-geist-light.b5624c47cfc9.json
  modules/kteam-ts/ui-dist/manifest-mission-dark.b5624c47cfc9.json
  modules/kteam-ts/ui-dist/manifest-mission-light.b5624c47cfc9.json
  modules/kteam-ts/ui-dist/manifest-neo-dark.b5624c47cfc9.json
  modules/kteam-ts/ui-dist/manifest-neo-light.b5624c47cfc9.json
  modules/kteam-ts/ui-dist/manifest-notebook-dark.b5624c47cfc9.json
  modules/kteam-ts/ui-dist/manifest-notebook-light.b5624c47cfc9.json
  modules/kteam-ts/ui-dist/manifest-studio-dark.b5624c47cfc9.json
  modules/kteam-ts/ui-dist/manifest-studio-light.b5624c47cfc9.json
  modules/kteam-ts/ui-dist/offline.b5624c47cfc9.html
  modules/kteam-ts/ui-dist/sw.b5624c47cfc9.js
Due: none
