Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

fix(kteam-ui): show task name and label in the chat page header
  modules/kteam-ts/ui-dist/assets/index-15dsBeHS.css
  modules/kteam-ts/ui-dist/assets/index-B2BQI_f7.js
  modules/kteam-ts/ui-dist/assets/index-BTZr5_zn.js
  modules/kteam-ts/ui-dist/assets/index-Bd16fvw0.css
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui/src/pages/SessionChatPage.tsx
Due: none

docs(kteam): maiden warden run findings + warden/migrate skill docs
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
  kteam-prob.md
Due: md-fmt

feat(kfleet): 1M context for Fable/Opus on Anthropic-backed accounts
  kfleet/config.yaml
Due: yaml-fmt

feat(kteam): harden daemon foundation G1-G6 + review fixes
  kteam-prob.md
  modules/kteam-ts/src/api-client.ts
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/daemon-boot.test.ts
  modules/kteam-ts/src/daemon-boot.ts
  modules/kteam-ts/src/daemon-entry.ts
  modules/kteam-ts/src/daemon-service.test.ts
  modules/kteam-ts/src/daemon-service.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/warden-detect.test.ts
  modules/kteam-ts/src/warden-detect.ts
Due: md-fmt

feat(kteam-ui): terminal tab + wrapper binary in chat header
  modules/kteam-ts/ui-dist/assets/index-B2BQI_f7.js
  modules/kteam-ts/ui-dist/assets/index-BFUwLjCU.js
  modules/kteam-ts/ui-dist/assets/index-Bd16fvw0.css
  modules/kteam-ts/ui-dist/assets/index-D7CYxwu3.css
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui/src/components/TerminalView.tsx
  modules/kteam-ts/ui/src/components/ViewTabs.tsx
  modules/kteam-ts/ui/src/pages/SessionChatPage.tsx
Due: none

docs(kteam): log daemon cold-init readiness papercut
  kteam-prob.md
Due: md-fmt

docs(kteam): validate diene retest findings, log remaining gaps
  kteam-prob.md
Due: md-fmt

docs(kteam): log stall-detector false kill of thinking session
  kteam-prob.md
Due: md-fmt

feat(kteam): liveness ledger, sus wardens, safe restart, pointer DB
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
  modules/kteam-ts/src/api-client.ts
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/daemon-config.ts
  modules/kteam-ts/src/daemon-entry.ts
  modules/kteam-ts/src/daemon-service.test.ts
  modules/kteam-ts/src/daemon-service.ts
  modules/kteam-ts/src/fixtures/claude-thinking-frame-a.txt
  modules/kteam-ts/src/fixtures/claude-thinking-frame-b.txt
  modules/kteam-ts/src/fixtures/codex-loge-ready.txt
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/io.ts
  modules/kteam-ts/src/liveness.test.ts
  modules/kteam-ts/src/liveness.ts
  modules/kteam-ts/src/service.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/storage.test.ts
  modules/kteam-ts/src/storage.ts
  modules/kteam-ts/src/tmux-controller.test.ts
  modules/kteam-ts/src/tmux-controller.ts
  modules/kteam-ts/src/types.ts
  modules/kteam-ts/src/warden-detect.test.ts
  modules/kteam-ts/src/warden-detect.ts
Due: md-fmt

feat(kteam-ui): transcript redesign, quiet tools, checks strip
  modules/kteam-ts/ui-dist/assets/index-BFUwLjCU.js
  modules/kteam-ts/ui-dist/assets/index-BKlw5pq1.js
  modules/kteam-ts/ui-dist/assets/index-C9HGeZzT.css
  modules/kteam-ts/ui-dist/assets/index-D7CYxwu3.css
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui/bun.lock
  modules/kteam-ts/ui/package.json
  modules/kteam-ts/ui/src/components/Markdown.tsx
  modules/kteam-ts/ui/src/components/Marker.tsx
  modules/kteam-ts/ui/src/components/Primitives.MessageBubble.tsx
  modules/kteam-ts/ui/src/components/Primitives.ThinkingBlock.tsx
  modules/kteam-ts/ui/src/components/Question.tsx
  modules/kteam-ts/ui/src/components/SessionHeader.tsx
  modules/kteam-ts/ui/src/components/ToolCard.tsx
  modules/kteam-ts/ui/src/components/ToolGroup.tsx
  modules/kteam-ts/ui/src/components/Transcript.tsx
  modules/kteam-ts/ui/src/components/TranscriptRow.tsx
  modules/kteam-ts/ui/src/components/TurnPromptCard.tsx
  modules/kteam-ts/ui/src/components/WardenStrip.tsx
  modules/kteam-ts/ui/src/hooks/useDensity.ts
  modules/kteam-ts/ui/src/index.css
  modules/kteam-ts/ui/src/lib/api.ts
  modules/kteam-ts/ui/src/lib/pairing.ts
  modules/kteam-ts/ui/src/lib/tool-extract.ts
  modules/kteam-ts/ui/src/lib/transcript.ts
  modules/kteam-ts/ui/src/pages/SessionChatPage.tsx
  modules/kteam-ts/ui/src/pages/SessionsListPage.tsx
  modules/kteam-ts/ui/src/types.ts
  modules/kteam-ts/ui/tailwind.config.ts
Due: none

feat(kteam): warden model override in config
  modules/kteam-ts/src/daemon-config.ts
  modules/kteam-ts/src/session-manager.ts
Due: none

feat: add atomi.obsidian_headless (nix-registry v3.8)
  flake.lock
  home-template.nix
Due: nixpkgs-fmt

feat(kteam): new-chat, projects, fleet tab, cards UI round 2
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/daemon-config.ts
  modules/kteam-ts/src/daemon-entry.ts
  modules/kteam-ts/src/fleet-inventory.test.ts
  modules/kteam-ts/src/fleet-inventory.ts
  modules/kteam-ts/src/service.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/ui-dist/assets/index-BKlw5pq1.js
  modules/kteam-ts/ui-dist/assets/index-C9HGeZzT.css
  modules/kteam-ts/ui-dist/assets/index-D5IIwZjM.js
  modules/kteam-ts/ui-dist/assets/index-D5Y3_CMm.css
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui/bun.lock
  modules/kteam-ts/ui/package.json
  modules/kteam-ts/ui/src/App.tsx
  modules/kteam-ts/ui/src/components/CodeBlock.tsx
  modules/kteam-ts/ui/src/components/Harness.tsx
  modules/kteam-ts/ui/src/components/SessionHeader.tsx
  modules/kteam-ts/ui/src/components/ToolGroup.tsx
  modules/kteam-ts/ui/src/components/Transcript.tsx
  modules/kteam-ts/ui/src/components/TranscriptRow.tsx
  modules/kteam-ts/ui/src/index.css
  modules/kteam-ts/ui/src/lib/api.ts
  modules/kteam-ts/ui/src/lib/router.tsx
  modules/kteam-ts/ui/src/lib/tool-extract.ts
  modules/kteam-ts/ui/src/pages/NewSessionPage.tsx
  modules/kteam-ts/ui/src/pages/SessionChatPage.tsx
  modules/kteam-ts/ui/src/pages/SessionsListPage.tsx
  modules/kteam-ts/ui/src/types.ts
Due: none

feat(kloop): UI redesign, config pane, kteam deep-links
  modules/kloop-ts/src/kteam.ts
  modules/kloop-ts/src/server/config.test.ts
  modules/kloop-ts/src/server/config.ts
  modules/kloop-ts/src/server/data.ts
  modules/kloop-ts/src/server/routes.ts
  modules/kloop-ts/src/status/materialize.test.ts
  modules/kloop-ts/src/status/materialize.ts
  modules/kloop-ts/ui-dist/assets/index-BUYuffgm.css
  modules/kloop-ts/ui-dist/assets/index-_F1pWM7x.js
  modules/kloop-ts/ui-dist/index.html
  modules/kloop-ts/ui/.gitignore
  modules/kloop-ts/ui/bun.lock
  modules/kloop-ts/ui/index.html
  modules/kloop-ts/ui/package.json
  modules/kloop-ts/ui/postcss.config.js
  modules/kloop-ts/ui/src/App.tsx
  modules/kloop-ts/ui/src/components/AppBar.tsx
  modules/kloop-ts/ui/src/components/Bits.tsx
  modules/kloop-ts/ui/src/components/Markdown.tsx
  modules/kloop-ts/ui/src/components/Primitives.tsx
  modules/kloop-ts/ui/src/components/ThemeToggle.tsx
  modules/kloop-ts/ui/src/highlight.css
  modules/kloop-ts/ui/src/hooks/useTheme.ts
  modules/kloop-ts/ui/src/index.css
  modules/kloop-ts/ui/src/lib/api.ts
  modules/kloop-ts/ui/src/lib/format.ts
  modules/kloop-ts/ui/src/lib/router.tsx
  modules/kloop-ts/ui/src/lib/sse.ts
  modules/kloop-ts/ui/src/lib/utils.ts
  modules/kloop-ts/ui/src/main.tsx
  modules/kloop-ts/ui/src/pages/ConfigPage.tsx
  modules/kloop-ts/ui/src/pages/RunDetailPage.tsx
  modules/kloop-ts/ui/src/pages/RunsListPage.tsx
  modules/kloop-ts/ui/src/types.ts
  modules/kloop-ts/ui/tailwind.config.ts
  modules/kloop-ts/ui/tsconfig.app.json
  modules/kloop-ts/ui/tsconfig.json
  modules/kloop-ts/ui/tsconfig.node.json
  modules/kloop-ts/ui/vite.config.ts
Due: none

docs(kteam): confirm send() delivery holes from field report
  kteam-prob.md
Due: md-fmt

fix(kteam-ui): scroll anchoring, send dedup, dim tools, inline images
  modules/kteam-ts/ui-dist/assets/index-D5IIwZjM.js
  modules/kteam-ts/ui-dist/assets/index-D5Y3_CMm.css
  modules/kteam-ts/ui-dist/assets/index-DI6sIJXT.css
  modules/kteam-ts/ui-dist/assets/index-gzSWeiIB.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui/src/components/Composer.tsx
  modules/kteam-ts/ui/src/components/Transcript.tsx
  modules/kteam-ts/ui/src/components/TranscriptRow.tsx
  modules/kteam-ts/ui/src/lib/api.ts
  modules/kteam-ts/ui/src/pages/SessionChatPage.tsx
Due: none

feat(kteam): native TUI send queue replaces mailbox, tracked turns
  modules/kteam-ts/src/api-client.ts
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/fixtures/claude-native-queue.txt
  modules/kteam-ts/src/fixtures/codex-native-queue.txt
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/service.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/tmux-controller.ts
  modules/kteam-ts/src/types.ts
Due: none

feat(kteam): warden verdicts tab + warden actor attribution
  modules/kteam-ts/src/actor-context.ts
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/service.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/types.ts
  modules/kteam-ts/src/warden-verdicts.test.ts
  modules/kteam-ts/src/warden-verdicts.ts
  modules/kteam-ts/ui-dist/assets/index-BVMI_-Hp.js
  modules/kteam-ts/ui-dist/assets/index-DI6sIJXT.css
  modules/kteam-ts/ui-dist/assets/index-Dv4_k1M8.css
  modules/kteam-ts/ui-dist/assets/index-gzSWeiIB.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui/src/components/WardenVerdicts.tsx
  modules/kteam-ts/ui/src/lib/api.ts
  modules/kteam-ts/ui/src/pages/SessionsListPage.tsx
  modules/kteam-ts/ui/src/types.ts
Due: none

feat(kteam): resume-menu autopilot, needs-human flag, UI search
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/fixtures/claude-resume-menu.txt
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/service.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/tmux-controller.test.ts
  modules/kteam-ts/src/tmux-controller.ts
  modules/kteam-ts/src/transcript-search.test.ts
  modules/kteam-ts/src/transcript-search.ts
  modules/kteam-ts/src/types.ts
  modules/kteam-ts/ui-dist/assets/index-BVMI_-Hp.js
  modules/kteam-ts/ui-dist/assets/index-CD9piaLt.css
  modules/kteam-ts/ui-dist/assets/index-Dv4_k1M8.css
  modules/kteam-ts/ui-dist/assets/index-qd1SGcgu.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui/src/components/SessionHeader.tsx
  modules/kteam-ts/ui/src/lib/api.ts
  modules/kteam-ts/ui/src/pages/SessionsListPage.tsx
  modules/kteam-ts/ui/src/types.ts
Due: none
