Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

shfmt:
  name: Format Shell Scripts
  entry: pls fmt:sh
  pass_filenames: false
  language: system

cfg-scripts:
  name: Configure Scripts
  entry: pls cfg:scripts
  pass_filenames: false
  language: system

yaml-fmt:
  name: Format YAML with prettier
  entry: pls fmt:yaml
  pass_filenames: false
  language: system

md-fmt:
  name: Format Markdown with prettier
  entry: pls fmt:md
  pass_filenames: false
  language: system

nixpkgs-fmt:
  name: Format NIX files
  entry: pls fmt:nix
  language: system
  pass_filenames: false

fix(kteam): bound resume, keep detached sessions resumable
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
  modules/kteam-ts/src/daemon-config.test.ts
  modules/kteam-ts/src/daemon-config.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager-launch.test.ts
  modules/kteam-ts/src/session-manager-waiting.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/types.ts
Due: none

fix(kteam): enforce warden invariants and guard reflex kill under load
  modules/kfleet-ts/src/core/harness-probe.test.ts
  modules/kfleet-ts/src/core/harness-probe.ts
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/liveness.test.ts
  modules/kteam-ts/src/liveness.ts
  modules/kteam-ts/src/session-manager-warden-guards.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/types.ts
Due: none

docs(kteam): log 2026-10 problems and the fix batch resolution
  kteam-prob.md
Due: md-fmt

fix(kteam): never answer the Fable usage-credits consent selector
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
  modules/kteam-ts/src/fixtures/claude-usage-credits-consent.txt
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/model-availability.test.ts
  modules/kteam-ts/src/model-availability.ts
  modules/kteam-ts/src/session-manager-model-consent.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/tmux-controller.test.ts
  modules/kteam-ts/src/tmux-controller.ts
Due: none

feat(kloge): keep loge tokens out of sops; add kloge-deploy
  modules/default.nix
  modules/kloge-ts/src/pull.ts
  modules/kloge-ts/src/tokens.test.ts
Due: nixpkgs-fmt

fix(kfleet): read Anthropic overage quota headers and stop 429 storms
  modules/kfleet-ts/src/cli/usage.test.ts
  modules/kfleet-ts/src/cli/usage.ts
  modules/kfleet-ts/src/core/usage.test.ts
  modules/kfleet-ts/src/core/usage.ts
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
  modules/kteam-ts/src/usage.test.ts
  modules/kteam-ts/src/usage.ts
Due: none

fix(kteam): loge accounts follow upstream; Fable only where it works
  home-template.nix
  kfleet/config.yaml
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills-codex/llm-refresh/reference.md
  kfleet/skills/kteam/SKILL.md
  kfleet/skills/llm-refresh/reference.md
  modules/kfleet-ts/src/cli/fleet.test.ts
  modules/kfleet-ts/src/cli/fleet.ts
  modules/kfleet-ts/src/core/creds.ts
  modules/kfleet-ts/src/core/generate.ts
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
  modules/kteam-ts/src/fleet-inventory.test.ts
  modules/kteam-ts/src/fleet-inventory.ts
Due: yaml-fmt, md-fmt, nixpkgs-fmt

fix(k8s-update): always include eks-db and survive list/update failures
  home-template.nix
  modules/k8s-update/default.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

chore: log kteam stale-model and send-by-name bugs; sync secrets
  kteam-prob.md
  secrets.enc.yaml
Due: yaml-fmt, md-fmt

feat(box): upstream pebox fixes for loctl, vault and codex WAL
  home-template.nix
  modules/default.nix
  scripts/kfleet/codex-db-maint.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

fix(kfleet): skip tokenless accounts in usage and serve probes
  modules/kfleet-ts/src/cli/fleet.test.ts
  modules/kfleet-ts/src/cli/fleet.ts
  modules/kfleet-ts/src/cli/serve.ts
  modules/kfleet-ts/src/cli/usage.ts
Due: none

feat(kteam): route only to Opus 5.5, Sonnet 5.5 and Haiku 5.5
  kfleet/CLAUDE.auto.md
  kfleet/CLAUDE.md
  kfleet/skills-codex/kautopilot/SKILL.md
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills-codex/llm-refresh/reference.md
  kfleet/skills/kteam/SKILL.md
  kfleet/skills/llm-refresh/reference.md
  kteam-prob.md
  modules/kteam-ts/README.md
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
  modules/kteam-ts/src/daemon-config.ts
  modules/kteam-ts/src/failover.test.ts
  modules/kteam-ts/src/failover.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/types.ts
  modules/kteam-ts/src/warden-failover.test.ts
  modules/kteam-ts/src/warden-failover.ts
  modules/kteam-ts/ui/src/components/MigrateSheet.tsx
Due: md-fmt

Path conditions:
  shfmt: any of: ^.*\.sh$
  cfg-scripts: any of: ^.*\.sh$
  yaml-fmt: any of: ^.*\.(yaml|yml)$
  md-fmt: any of: ^.*\.(MD|md)$
  nixpkgs-fmt: any of: ^.*\.nix$
