Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

feat(kteam): web UI — live sessions, streaming, browser send/answer
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
  kteam-prob.md
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/ui.ts
Due: md-fmt

fix(khost): scope access-app prune to this machine's tunnel
  modules/khost-ts/src/routes.ts
Due: none

perf(kteam): fix UI-induced daemon overload
  modules/kteam-ts/src/api-client.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/service.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/ui.ts
Due: none

fix(kteam-ui): sticky scroll — stop yanking the reader to the bottom
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/ui.ts
Due: none

feat(kteam): chat backend — history, thinking signal, dist serve
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/service.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/tmux-controller.ts
  modules/kteam-ts/src/types.ts
Due: none

fix(kteam): daemon-status probes API, compact wait json, token subst
  kteam-prob.md
  modules/kloop-ts/src/cli/stream.ts
  modules/kloop-ts/src/loop/stall.test.ts
  modules/kloop-ts/src/loop/stall.ts
  modules/kloop-ts/src/stream/format.ts
  modules/kloop-ts/src/stream/parse.ts
  modules/kloop-ts/src/tmux/commands.ts
  modules/kloop-ts/src/tmux/service.ts
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/index.ts
Due: md-fmt

fix(kloop): restore files pending migration review
  modules/kloop-ts/src/cli/stream.ts
  modules/kloop-ts/src/loop/stall.test.ts
  modules/kloop-ts/src/loop/stall.ts
  modules/kloop-ts/src/stream/format.ts
  modules/kloop-ts/src/stream/parse.ts
  modules/kloop-ts/src/tmux/commands.ts
  modules/kloop-ts/src/tmux/service.ts
Due: none

feat(kloop): agent execution migrated onto kteam
  modules/kloop-ts/src/agents/default-config.ts
  modules/kloop-ts/src/agents/prompts.ts
  modules/kloop-ts/src/agents/runner.ts
  modules/kloop-ts/src/cli/attach.ts
  modules/kloop-ts/src/cli/cancel.ts
  modules/kloop-ts/src/cli/index.ts
  modules/kloop-ts/src/cli/ps.ts
  modules/kloop-ts/src/cli/remove.ts
  modules/kloop-ts/src/cli/run.ts
  modules/kloop-ts/src/cli/status.ts
  modules/kloop-ts/src/cli/stream.ts
  modules/kloop-ts/src/cli/wait.ts
  modules/kloop-ts/src/deps.ts
  modules/kloop-ts/src/index-db.ts
  modules/kloop-ts/src/index.test.ts
  modules/kloop-ts/src/index.ts
  modules/kloop-ts/src/kteam.ts
  modules/kloop-ts/src/loop/runner.ts
  modules/kloop-ts/src/loop/stall.test.ts
  modules/kloop-ts/src/loop/stall.ts
  modules/kloop-ts/src/stream/format.ts
  modules/kloop-ts/src/stream/parse.ts
  modules/kloop-ts/src/tmux/commands.ts
  modules/kloop-ts/src/tmux/service.ts
  modules/kloop-ts/src/types.ts
Due: none

feat(kteam): full chat web UI (Vite + React + shadcn)
  kteam-prob.md
  modules/kteam-ts/ui-dist/assets/index-BOgULnyT.css
  modules/kteam-ts/ui-dist/assets/index-v7vBwH9C.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui/.gitignore
  modules/kteam-ts/ui/bun.lock
  modules/kteam-ts/ui/index.html
  modules/kteam-ts/ui/package.json
  modules/kteam-ts/ui/postcss.config.js
  modules/kteam-ts/ui/src/App.tsx
  modules/kteam-ts/ui/src/components/AppBar.tsx
  modules/kteam-ts/ui/src/components/Composer.tsx
  modules/kteam-ts/ui/src/components/Harness.tsx
  modules/kteam-ts/ui/src/components/Primitives.MessageBubble.tsx
  modules/kteam-ts/ui/src/components/Primitives.ThinkingBlock.tsx
  modules/kteam-ts/ui/src/components/Primitives.ToolCallCard.tsx
  modules/kteam-ts/ui/src/components/Primitives.tsx
  modules/kteam-ts/ui/src/components/Question.tsx
  modules/kteam-ts/ui/src/components/QuestionForm.tsx
  modules/kteam-ts/ui/src/components/ThemeToggle.tsx
  modules/kteam-ts/ui/src/highlight.css
  modules/kteam-ts/ui/src/hooks/useDebounce.ts
  modules/kteam-ts/ui/src/hooks/useTheme.ts
  modules/kteam-ts/ui/src/index.css
  modules/kteam-ts/ui/src/lib/api.ts
  modules/kteam-ts/ui/src/lib/pairing.ts
  modules/kteam-ts/ui/src/lib/router.tsx
  modules/kteam-ts/ui/src/lib/utils.ts
  modules/kteam-ts/ui/src/lib/ws.ts
  modules/kteam-ts/ui/src/main.tsx
  modules/kteam-ts/ui/src/pages/SessionChatPage.tsx
  modules/kteam-ts/ui/src/pages/SessionsListPage.tsx
  modules/kteam-ts/ui/src/types.ts
  modules/kteam-ts/ui/tailwind.config.ts
  modules/kteam-ts/ui/tsconfig.app.json
  modules/kteam-ts/ui/tsconfig.json
  modules/kteam-ts/ui/tsconfig.node.json
  modules/kteam-ts/ui/vite.config.ts
  nix/fmt.nix
Due: md-fmt, nixpkgs-fmt

fix(kteam-ui): self-heal stale embedded tokens
  modules/kteam-ts/ui-dist/assets/index-BNVMtt5T.js
  modules/kteam-ts/ui-dist/assets/index-v7vBwH9C.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui/src/lib/api.ts
Due: none

fix(kteam-ui): quote-agnostic token substitution, rocket-loader optout
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui/index.html
Due: none

feat(kteam-ui): information-design polish for the chat thread
  modules/kteam-ts/ui-dist/assets/index-15dsBeHS.css
  modules/kteam-ts/ui-dist/assets/index-BNVMtt5T.js
  modules/kteam-ts/ui-dist/assets/index-BOgULnyT.css
  modules/kteam-ts/ui-dist/assets/index-B_yPhLtK.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui/src/components/Primitives.MessageBubble.tsx
  modules/kteam-ts/ui/src/components/Primitives.ToolCallCard.tsx
  modules/kteam-ts/ui/src/components/ToolCard.tsx
  modules/kteam-ts/ui/src/components/TurnPromptCard.tsx
  modules/kteam-ts/ui/src/hooks/useDensity.ts
  modules/kteam-ts/ui/src/lib/pairing.ts
  modules/kteam-ts/ui/src/pages/SessionChatPage.tsx
Due: none

feat(kteam-ui): queue vs interrupt-and-send at the composer
  modules/kteam-ts/ui-dist/assets/index-BTZr5_zn.js
  modules/kteam-ts/ui-dist/assets/index-B_yPhLtK.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui/src/components/Composer.tsx
  modules/kteam-ts/ui/src/pages/SessionChatPage.tsx
Due: none

feat(kautopilot): deferred-writer harness migrated onto kteam
  kteam-prob.md
  modules/kautopilot-ts/CLI-CONTRACT.md
  modules/kautopilot-ts/SPEC-kautopilot.md
  modules/kautopilot-ts/specs/deferred-writer-relay.md
  modules/kautopilot-ts/specs/reviewers-kteam.md
  modules/kautopilot-ts/src/cli/delete.ts
  modules/kautopilot-ts/src/cli/discussion.ts
  modules/kautopilot-ts/src/cli/relay.ts
  modules/kautopilot-ts/src/cli/stop.ts
  modules/kautopilot-ts/src/core/types.ts
  modules/kautopilot-ts/src/core/writer/__tests__/relay.test.ts
  modules/kautopilot-ts/src/core/writer/__tests__/writer.test.ts
  modules/kautopilot-ts/src/core/writer/kteam.ts
  modules/kautopilot-ts/src/core/writer/pool.ts
  modules/kautopilot-ts/src/core/writer/relay.ts
  modules/kautopilot-ts/src/core/writer/scratch.ts
  modules/kautopilot-ts/src/core/writer/tmux.ts
  modules/kautopilot-ts/src/steps/prompt-helpers.ts
Due: md-fmt

fix(kteam): clear stale done markers at injection delivery
  kteam-prob.md
  modules/kteam-ts/src/session-manager.ts
Due: md-fmt

dep(flake): update all inputs (nixpkgs 2026-07-19, treefmt, hooks)
  flake.lock
Due: none

feat(kteam): auto-capture parent when teammates start teammates
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/types.ts
Due: none

feat(kteam): fleet warden, account migration, measured ps columns
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
  modules/kteam-ts/src/api-client.ts
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/core.ts
  modules/kteam-ts/src/daemon-config.ts
  modules/kteam-ts/src/daemon-entry.ts
  modules/kteam-ts/src/failover.test.ts
  modules/kteam-ts/src/failover.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/paths.ts
  modules/kteam-ts/src/service.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/tmux-controller.ts
  modules/kteam-ts/src/types.ts
  modules/kteam-ts/src/warden-detect.test.ts
  modules/kteam-ts/src/warden-detect.ts
Due: md-fmt

test(kteam): API auth/validation tests for warden scope and migrate
  modules/kteam-ts/src/api-server.test.ts
Due: none

docs(kteam): correct babysitter misattribution in problem log
  kteam-prob.md
Due: md-fmt
