Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

feat: AI reviewers & ticket phase changes
  modules/claude-config/skills/kagent-autopilot/phases/polling.md
  modules/claude-config/skills/kagent-autopilot/phases/pushing.md
  modules/claude-config/skills/kagent-autopilot/phases/run-spec.md
  modules/claude-config/skills/kagent-autopilot/phases/running.md
  modules/claude-config/skills/kagent-autopilot/phases/setup.md
  modules/claude-config/skills/kagent-autopilot/phases/sub-planning.md
  modules/claude-config/skills/kagent-autopilot/templates/fix-spec-template.md
  modules/claude-config/skills/kagent-autopilot/templates/task-spec-template.md
Due: md-fmt

feat: clickup workarounds and tmux fix
  modules/claude-config/skills/kagent-autopilot/SKILL.md
  modules/claude-config/skills/kagent-autopilot/phases/running.md
  modules/claude-config/skills/kagent-autopilot/phases/setup.md
Due: md-fmt

feat: unset CLAUDECODE at the dev-loop level
  modules/claude-config/skills/kagent-autopilot/SKILL.md
  modules/claude-config/skills/kagent-autopilot/phases/running.md
  modules/claude-config/skills/kagent-run/SKILL.md
  modules/dev-loop-ts/dist/index.js
  modules/dev-loop-ts/src/tmux/commands.ts
Due: md-fmt

feat: force unset for CLAUDECODE env var
  modules/dev-loop-ts/dist/index.js
  modules/dev-loop-ts/src/tmux/commands.ts
  modules/dev-loop-ts/src/tmux/service.ts
Due: none

dep: atomi upstream
  flake.lock
  flake.nix
  home-template.nix
Due: nixpkgs-fmt

feat: improve autopilot
  modules/claude-config/skills/kagent-autopilot/SKILL.md
  modules/claude-config/skills/kagent-autopilot/phases/polling-enrich.md
  modules/claude-config/skills/kagent-autopilot/phases/polling.md
Due: md-fmt

feat: improve autopilot
  modules/claude-config/skills/kagent-autopilot/phases/polling-enrich.md
Due: md-fmt

feat: kagent autopilot uses agent team
  modules/claude-config/skills/kagent-autopilot/SKILL.md
  modules/claude-config/skills/kagent-autopilot/phases/polling.md
  modules/claude-config/skills/kagent-autopilot/phases/prereview.md
  modules/claude-config/skills/kagent-autopilot/phases/running.md
  modules/claude-config/skills/kagent-autopilot/phases/setup.md
Due: md-fmt

feat: migrate to telegram bot instead of noise
  modules/claude-config/base-hooks.nix
  modules/claude-config/telegram-notify.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

feat: kagent autopilot better code-rabbit integration
  modules/claude-config/skills/kagent-autopilot/SKILL.md
  modules/claude-config/skills/kagent-autopilot/phases/polling-enrich.md
  modules/claude-config/skills/kagent-autopilot/phases/polling.md
  modules/claude-config/skills/kagent-autopilot/phases/resolvers/ci-resolver.md
  modules/claude-config/skills/kagent-autopilot/phases/resolvers/coderabbit-resolver.md
  modules/claude-config/skills/kagent-autopilot/phases/resolvers/rebase-resolver.md
  modules/claude-config/skills/kagent-autopilot/phases/resolvers/review-resolver.md
  modules/claude-config/skills/kagent-autopilot/phases/resolvers/thread-resolver.md
Due: md-fmt

feat: improve planning phase for kagent autopilot
  modules/claude-config/skills/kagent-autopilot/SKILL.md
  modules/claude-config/skills/kagent-autopilot/phases/setup.md
  modules/claude-config/skills/kagent-autopilot/phases/sub-planning.md
  modules/claude-config/skills/kagent-autopilot/templates/sub-plan-template.md
  modules/claude-config/skills/kagent-autopilot/templates/task-spec-template.md
Due: md-fmt

feat: allow re-try
  modules/claude-config/skills/kagent-autopilot/SKILL.md
  modules/claude-config/skills/kagent-autopilot/phases/feedback.md
  modules/claude-config/skills/kagent-autopilot/phases/polling.md
  modules/claude-config/skills/kagent-autopilot/phases/prereview.md
  modules/claude-config/skills/kagent-autopilot/phases/run-spec.md
  modules/claude-config/skills/kagent-autopilot/phases/running.md
  modules/claude-config/skills/kagent-autopilot/phases/setup.md
  modules/claude-config/skills/kagent-autopilot/phases/sub-planning.md
Due: md-fmt

feat: fact-check and better kagent autopilot planning
  flake.lock
  home-template.nix
  modules/claude-config/base-hooks.nix
  modules/claude-config/skills/fact-check/SKILL.md
  modules/claude-config/skills/fact-check/examples.md
  modules/claude-config/skills/fact-check/templates/inaccuracy-report.md
  modules/claude-config/skills/kagent-autopilot/SKILL.md
  modules/claude-config/skills/kagent-autopilot/phases/prereview.md
  modules/claude-config/skills/kagent-autopilot/phases/resolvers/coderabbit-resolver.md
  modules/claude-config/skills/kagent-autopilot/phases/setup.md
  modules/claude-config/skills/kagent-autopilot/templates/task-spec-template.md
  modules/claude-config/telegram-notify.sh
Due: shfmt, cfg-scripts, md-fmt, nixpkgs-fmt

feat: script-based state management for fact-check/fact-fix skills
  home-template.nix
  modules/claude-config/auth.nix
  modules/claude-config/skills/fact-check/SKILL.md
  modules/claude-config/skills/fact-fix/SKILL.md
  modules/claude-config/skills/kagent-autopilot/SKILL.md
  modules/claude-config/skills/kagent-autopilot/phases/feedback.md
  modules/claude-config/skills/kagent-autopilot/phases/planning.md
  modules/claude-config/skills/kagent-autopilot/phases/polling.md
  modules/claude-config/skills/kagent-autopilot/phases/prereview.md
  modules/claude-config/skills/kagent-autopilot/phases/pushing.md
  modules/claude-config/skills/kagent-autopilot/phases/repo-setup.md
  modules/claude-config/skills/kagent-autopilot/phases/resolvers/ci-resolver.md
  modules/claude-config/skills/kagent-autopilot/phases/resolvers/coderabbit-resolver.md
  modules/claude-config/skills/kagent-autopilot/phases/resolvers/rebase-resolver.md
  modules/claude-config/skills/kagent-autopilot/phases/resolvers/review-resolver.md
  modules/claude-config/skills/kagent-autopilot/phases/resolvers/thread-resolver.md
  modules/claude-config/skills/kagent-autopilot/phases/resume.md
  modules/claude-config/skills/kagent-autopilot/phases/run-spec.md
  modules/claude-config/skills/kagent-autopilot/phases/running.md
  modules/claude-config/skills/kagent-autopilot/phases/setup.md
  modules/claude-config/skills/kagent-autopilot/phases/sub-planning.md
  modules/claude-config/skills/kagent-autopilot/repos/atomicloud.md
  modules/claude-config/skills/kagent-autopilot/repos/default.md
  modules/claude-config/skills/kagent-autopilot/repos/vungle.md
  modules/claude-config/skills/kagent-autopilot/templates/fix-spec-template.md
  modules/claude-config/skills/kagent-autopilot/templates/pr-template.md
  modules/claude-config/skills/kagent-autopilot/templates/sub-plan-template.md
  modules/claude-config/skills/kagent-autopilot/templates/task-spec-template.md
  modules/dev-loop-ts/dist/index.js
Due: md-fmt, nixpkgs-fmt

feat: complex-skill creation skill
  modules/claude-config/skills/create-complex-skill/SKILL.md
  modules/claude-config/skills/create-complex-skill/patterns.md
  modules/claude-config/skills/create-complex-skill/templates/PHASE-TEMPLATE.md
  modules/claude-config/skills/create-complex-skill/templates/SKILL-TEMPLATE.md
  modules/claude-config/skills/create-complex-skill/templates/state-agent-TEMPLATE.md
  modules/claude-config/skills/create-complex-skill/templates/step-inline-TEMPLATE.md
  modules/claude-config/skills/create-complex-skill/templates/step-sub-TEMPLATE.md
  modules/claude-config/skills/create-complex-skill/templates/step-team-TEMPLATE.md
Due: md-fmt

feat(skills): orchestrator spawns teammates for all steps
  home-template.nix
  modules/claude-config/base-settings.nix
  modules/claude-config/skills/create-complex-skill/SKILL.md
  modules/claude-config/skills/create-complex-skill/patterns.md
  modules/claude-config/skills/create-complex-skill/templates/PHASE-TEMPLATE.md
  modules/claude-config/skills/create-complex-skill/templates/SKILL-TEMPLATE.md
  modules/claude-config/skills/create-complex-skill/templates/step-inline-TEMPLATE.md
  modules/claude-config/skills/kagent-autopilot/SKILL.md
  modules/claude-config/skills/kagent-autopilot/implementation/PHASE.md
  modules/claude-config/skills/kagent-autopilot/plan/PHASE.md
  modules/claude-config/skills/kagent-autopilot/polish/PHASE.md
Due: md-fmt, nixpkgs-fmt

fix(skills): orchestrator spawns teammates for all steps
  modules/claude-config/skills/create-complex-skill/patterns.md
  modules/claude-config/skills/create-complex-skill/templates/PHASE-TEMPLATE.md
  modules/claude-config/skills/kagent-autopilot/SKILL.md
  modules/claude-config/skills/kagent-autopilot/implementation/PHASE.md
  modules/claude-config/skills/kagent-autopilot/plan/PHASE.md
  modules/claude-config/skills/kagent-autopilot/polish/PHASE.md
Due: md-fmt

feat(skills): add research, file-processor skills; gwen→kimi
  home-template.nix
  modules/claude-config/auth.nix
  modules/claude-config/skills/create-file-processor-skill/SKILL.md
  modules/claude-config/skills/create-file-processor-skill/templates/SKILL-TEMPLATE.md
  modules/claude-config/skills/create-file-processor-skill/templates/init-state.sh
  modules/claude-config/skills/create-file-processor-skill/templates/mark-done.sh
  modules/claude-config/skills/create-file-processor-skill/templates/next-file.sh
  modules/claude-config/skills/create-file-processor-skill/templates/output-template.md
  modules/claude-config/skills/create-multi-state-skill/SKILL.md
  modules/claude-config/skills/create-multi-state-skill/patterns.md
  modules/claude-config/skills/create-multi-state-skill/templates/PHASE-TEMPLATE.md
  modules/claude-config/skills/create-multi-state-skill/templates/SKILL-TEMPLATE.md
  modules/claude-config/skills/create-multi-state-skill/templates/state-agent-TEMPLATE.md
  modules/claude-config/skills/create-multi-state-skill/templates/step-sub-TEMPLATE.md
  modules/claude-config/skills/create-multi-state-skill/templates/step-team-TEMPLATE.md
  modules/claude-config/skills/create-skill/SKILL.md
  modules/claude-config/skills/kagent-autopilot/implementation/PHASE.md
  modules/claude-config/skills/research/SKILL.md
  modules/claude-config/skills/research/common/evidence-format.md
  modules/claude-config/skills/research/common/reputation-system.md
  modules/claude-config/skills/research/compose/PHASE.md
  modules/claude-config/skills/research/compose/steps/synthesize.md
  modules/claude-config/skills/research/plan/PHASE.md
  modules/claude-config/skills/research/plan/state-agent.md
  modules/claude-config/skills/research/plan/steps/scope.md
  modules/claude-config/skills/research/research/PHASE.md
  modules/claude-config/skills/research/research/state-agent.md
  modules/claude-config/skills/research/research/steps/cross-reference.md
  modules/claude-config/skills/research/research/steps/explore.md
  modules/claude-config/skills/research/templates/finding-template.md
  modules/claude-config/skills/research/templates/report-template.md
  modules/claude-config/skills/research/templates/spec-template.md
  modules/claude-config/skills/research/templates/verification-template.md
  modules/claude-config/skills/research/verify/PHASE.md
  modules/claude-config/skills/research/verify/scripts/init-verify.sh
  modules/claude-config/skills/research/verify/scripts/mark-done.sh
  modules/claude-config/skills/research/verify/scripts/next-file.sh
  modules/claude-config/skills/research/verify/steps/verify-finding.md
  modules/dev-loop-ts/src/agents/prompts.ts
Due: shfmt, cfg-scripts, md-fmt, nixpkgs-fmt

chore: rename autopilot alias to ap, update kimi model
  home-template.nix
  modules/claude-config/auth.nix
Due: nixpkgs-fmt
