Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

feat: crossplatform speak
  claude-config/claude-settings.json
  claude-config/claude-work-settings.json
  home-template.nix
  modules/default.nix
  modules/speak/default.nix
  modules/speak/default.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

feat: upgrade to 25.11
  .infisicalignore
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  nix/packages.nix
  scripts/setup.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

feat: setup workspace
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  modules/default.nix
  modules/hms/bin/hms
  modules/hms/bin/hmsz
  modules/hms/bin/nix-init
  modules/hms/default.nix
  modules/workspace/default.nix
  nix/packages.nix
Due: nixpkgs-fmt

feat: correct hms and speak for WSL support
  modules/hms/bin/hms
  modules/hms/bin/hmsz
  modules/hms/default.nix
  modules/speak/default.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

feat: move management to nix
  claude-config/claude-settings.json
  claude-config/claude-work-settings.json
  flake.lock
  modules/claude-config/CLAUDE.md
  modules/claude-config/default.nix
Due: md-fmt, nixpkgs-fmt

feat: move management to nix
  modules/claude-config/default.nix
Due: nixpkgs-fmt

feat: include working with worktrunk
  flake.lock
  home-template.nix
  worktrunk/config.toml
Due: nixpkgs-fmt

feat: multi-claude code workspace
  home-template.nix
  modules/claude-config/base-mcp.nix
  modules/claude-config/base-settings.nix
  modules/claude-config/default.nix
  modules/claude-multi/README.md
  modules/claude-multi/default.nix
  modules/claude-multi/example.nix
Due: md-fmt, nixpkgs-fmt

feat: multi-claude workspace
  home-template.nix
  modules/claude-multi/default.nix
  secrets.enc.yaml
Due: yaml-fmt, nixpkgs-fmt

feat: dev-loop and muilti-claude
  .infisicalignore
  darwin.nix
  flake.lock
  flake.nix
  home-template.nix
  modules/claude-config/CLAUDE-reviewer.md
  modules/claude-config/skills/dev-loop/SKILL.md
  modules/claude-multi/README.md
  modules/claude-multi/default.nix
  modules/claude-multi/example.nix
  modules/default.nix
  modules/dev-loop/default.nix
  modules/dev-loop/dev-loop-cancel.sh
  modules/dev-loop/dev-loop-init.sh
  modules/dev-loop/dev-loop-logs.sh
  modules/dev-loop/dev-loop-run.sh
  modules/dev-loop/dev-loop-status.sh
  modules/dev-loop/dev-loop.sh
Due: shfmt, cfg-scripts, md-fmt, nixpkgs-fmt

feat: working dev-loop-ts
  darwin.nix
  flake.lock
  home-template.nix
  modules/claude-config/CLAUDE-reviewer.md
  modules/claude-config/CLAUDE.md
  modules/claude-config/auth.nix
  modules/dev-loop-ts/.gitignore
  modules/dev-loop-ts/README.md
  modules/dev-loop-ts/dist/index.js
  modules/dev-loop-ts/spec-v3.md
  modules/dev-loop-ts/spec-v4.md
  modules/dev-loop-ts/src/agents/prompts.ts
  modules/dev-loop-ts/src/agents/runner.ts
  modules/dev-loop-ts/src/agents/verdicts.ts
  modules/dev-loop-ts/src/cli/cancel.ts
  modules/dev-loop-ts/src/cli/init.ts
  modules/dev-loop-ts/src/cli/logs.ts
  modules/dev-loop-ts/src/deps.ts
  modules/dev-loop-ts/src/history/archive.ts
  modules/dev-loop-ts/src/logs/service.ts
  modules/dev-loop-ts/src/loop/iteration.ts
  modules/dev-loop-ts/src/loop/runner.ts
  modules/dev-loop-ts/src/types.ts
  modules/dev-loop/default.nix
  modules/dev-loop/dev-loop-cancel.sh
  modules/dev-loop/dev-loop-init.sh
  modules/dev-loop/dev-loop-logs.sh
  modules/dev-loop/dev-loop-run.sh
  modules/dev-loop/dev-loop-status.sh
  modules/dev-loop/dev-loop.sh
  secrets.enc.yaml
Due: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

feat: support team mode
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  modules/claude-config/CLAUDE-implementer.md
  modules/claude-config/CLAUDE-reviewer.md
  modules/claude-config/auth.nix
  modules/claude-config/base-env.nix
  modules/claude-config/default.nix
  modules/dev-loop-ts/src/agents/prompts.ts
Due: md-fmt, nixpkgs-fmt

feat: migarte fully to use apicliproxy
  flake.lock
  flake.nix
  modules/claude-config/auth.nix
  modules/claude-config/base-hooks.nix
  modules/claude-config/skills/dev-loop/SKILL.md
  modules/claude-config/skills/dev-loop/examples.md
  modules/claude-config/skills/dev-loop/reference.md
  modules/claude-config/speak-dir.sh
  secrets.enc.yaml
Due: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

feat: rename dev-loop to kagent-run, use background task instead of tmux
  flake.lock
  flake.nix
  home-template.nix
  modules/claude-config/skills/kagent-run/SKILL.md
  modules/claude-config/skills/kagent-run/examples.md
  modules/claude-config/skills/kagent-run/reference.md
  modules/claude-config/skills/kagent-run/templates/spec-template.md
Due: md-fmt, nixpkgs-fmt

feat: updates to kagent]
  .gitignore
  home-template.nix
  modules/claude-config/CLAUDE-implementer.md
  modules/claude-config/CLAUDE-reviewer.md
  modules/claude-config/CLAUDE.md
  modules/claude-config/skills/close-task/SKILL.md
  modules/claude-config/skills/complete-task/SKILL.md
  modules/claude-config/skills/complete-task/examples.md
  modules/claude-config/skills/complete-task/reference.md
  modules/claude-config/skills/complete-task/scripts/poll-pr.sh
  modules/claude-config/skills/complete-task/templates/fix-spec-template.md
  modules/claude-config/skills/complete-task/templates/task-spec-template.md
  modules/claude-config/skills/kagent-run/SKILL.md
  modules/claude-config/skills/kagent-run/examples.md
  modules/claude-config/skills/kagent-run/reference.md
  modules/dev-loop-ts/dist/index.js
  modules/dev-loop-ts/src/agents/prompts.ts
  modules/dev-loop-ts/src/agents/runner.ts
  modules/dev-loop-ts/src/cli/cancel.ts
  modules/dev-loop-ts/src/cli/index.ts
  modules/dev-loop-ts/src/cli/init.ts
  modules/dev-loop-ts/src/cli/poll-pr.ts
  modules/dev-loop-ts/src/cli/run.ts
  modules/dev-loop-ts/src/cli/status.ts
  modules/dev-loop-ts/src/deps.ts
  modules/dev-loop-ts/src/history/format.ts
  modules/dev-loop-ts/src/index.test.ts
  modules/dev-loop-ts/src/loop/runner.ts
  modules/dev-loop-ts/src/state/config.ts
  modules/dev-loop-ts/src/state/service.ts
  modules/dev-loop-ts/src/types.ts
Due: shfmt, cfg-scripts, md-fmt, nixpkgs-fmt

feat: kagent autopilot skill
  darwin.nix
  flake.lock
  home-template.nix
  modules/claude-config/auth.nix
  modules/claude-config/skills/close-task/SKILL.md
  modules/claude-config/skills/complete-task/SKILL.md
  modules/claude-config/skills/complete-task/examples.md
  modules/claude-config/skills/complete-task/reference.md
  modules/claude-config/skills/complete-task/scripts/poll-pr.sh
  modules/claude-config/skills/complete-task/ticket-systems.md
  modules/claude-config/skills/kagent-autopilot/SKILL.md
  modules/claude-config/skills/kagent-autopilot/phases/polling.md
  modules/claude-config/skills/kagent-autopilot/phases/pushing.md
  modules/claude-config/skills/kagent-autopilot/phases/run-spec.md
  modules/claude-config/skills/kagent-autopilot/phases/running.md
  modules/claude-config/skills/kagent-autopilot/phases/setup.md
  modules/claude-config/skills/kagent-autopilot/templates/fix-spec-template.md
  modules/claude-config/skills/kagent-autopilot/templates/pr-template.md
  modules/claude-config/skills/kagent-autopilot/templates/task-spec-template.md
Due: shfmt, cfg-scripts, md-fmt, nixpkgs-fmt

fix: require agent to request coderabbit resolution
  modules/claude-config/skills/kagent-autopilot/phases/pushing.md
Due: md-fmt

feat: break-down phase for kagent autopilot
  modules/claude-config/skills/kagent-autopilot/SKILL.md
  modules/claude-config/skills/kagent-autopilot/phases/polling.md
  modules/claude-config/skills/kagent-autopilot/phases/pushing.md
  modules/claude-config/skills/kagent-autopilot/phases/run-spec.md
  modules/claude-config/skills/kagent-autopilot/phases/running.md
  modules/claude-config/skills/kagent-autopilot/phases/setup.md
  modules/claude-config/skills/kagent-autopilot/phases/sub-planning.md
Due: md-fmt

feat: kagent autopilot skill shows PR url
  modules/claude-config/skills/kagent-autopilot/phases/polling.md
Due: md-fmt
