Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

fix: service incorrect placement
  flake.nix
Due: nixpkgs-fmt

fix: impure switch with flakes
  home-template.nix
  scripts/setup-workspace-interactive.sh
  scripts/setup-workspace.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

feat: added mfa
  cloud-init.yaml
  flake.lock
  flake.nix
  home-template.nix
  modules/awsmfa.nix
  modules/awsmfa.sh
  modules/set-signing-key.sh
  modules/setup-devbox-server.sh
Due: shfmt, cfg-scripts, yaml-fmt, nixpkgs-fmt

feat: added awsmfa
  modules/awsmfa.sh
Due: shfmt, cfg-scripts

feat: added alias for gotrade mfa
  home-template.nix
Due: nixpkgs-fmt

fix: syntax error
  home-template.nix
Due: nixpkgs-fmt

feat: added aws auto-complete and gotrade AWS PROFILE
  home-template.nix
Due: nixpkgs-fmt

feat: added macx64 configurations
  flake.nix
  home-template.nix
Due: nixpkgs-fmt

feat: allow sourcing of senstive in .secrets
  home-template.nix
Due: nixpkgs-fmt

feat: use atomi nix package repo instead of self-written
  flake.nix
  home-template.nix
  modules/awsmfa.nix
  modules/awsmfa.sh
  types.nix
Due: shfmt, cfg-scripts, nixpkgs-fmt

try: rename files
  .p10k.zsh
  flake.lock
  flake.nix
  home-template.nix
  modules/okta.nix
  modules/setup-key.nix
  nix/packages.nix
Due: nixpkgs-fmt

refact: full refactor
  flake.lock
  flake.nix
  home-template.nix
  modules/backup-folder.nix
  modules/backup-folder/default.nix
  modules/backup-folder/default.sh
  modules/default.nix
  modules/get-uuid.nix
  modules/get-uuid/default.nix
  modules/get-uuid/default.sh
  modules/okta.nix
  modules/register-with-github.nix
  modules/register-with-github/default.nix
  modules/register-with-github/default.sh
  modules/set-signing-key.nix
  modules/set-signing-key/default.nix
  modules/set-signing-key/default.sh
  modules/setup-devbox-server.nix
  modules/setup-devbox-server/default.nix
  modules/setup-devbox-server/default.sh
  modules/setup-key.nix
  modules/setup-keys/default.nix
  modules/setup-keys/default.sh
  modules/setup-pcloud-remote.nix
  modules/setup-pcloud-remote/default.nix
  modules/setup-pcloud-remote/default.sh
  modules/trivialBuilders.nix
  profiles.nix
  upstream.nix
Due: shfmt, cfg-scripts, nixpkgs-fmt

feat: upgraded
  modules/register-with-github/default.sh
Due: shfmt, cfg-scripts

feat: update zsh plugins
  flake.lock
  flake.nix
  home-template.nix
  upstream.nix
  zsh_custom/plugins/pls/_pls
Due: nixpkgs-fmt

fix: missing kgp
  flake.lock
  home-template.nix
Due: nixpkgs-fmt

feat: change direnv cache
  .gitignore
  home-template.nix
Due: nixpkgs-fmt

fix: change direnv location
  home-template.nix
Due: nixpkgs-fmt

feat: update upstream
  upstream.nix
Due: nixpkgs-fmt

feat: new tools
  flake.lock
  flake.nix
  home-template.nix
  upstream.nix
Due: nixpkgs-fmt

fix: remove pinentry commands
  home-template.nix
Due: nixpkgs-fmt
