Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

feat(packages): upgrade packages
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  nix/packages.nix
Due: nixpkgs-fmt

feat: allow for normal terminal in cursor
  home-template.nix
Due: nixpkgs-fmt

feat: updated everything
  flake.lock
  home-template.nix
  modules/default.nix
  modules/gawt/default.nix
  modules/gawt/default.sh
  secrets.enc.yaml
Due: shfmt, cfg-scripts, yaml-fmt, nixpkgs-fmt

feat: update apps
  flake.lock
  home-template.nix
Due: nixpkgs-fmt

feat: update applications
  flake.lock
  secrets.enc.yaml
Due: yaml-fmt

feat: upgrade all apps
  flake.lock
Due: none

feat(nix): remove atomi cache
  home-template.nix
Due: nixpkgs-fmt

feat(packages): upgraded packages
  flake.lock
Due: none

feat: update oai key
  secrets.enc.yaml
Due: yaml-fmt

feat(home-manager): upgrade home-manager
  flake.lock
  secrets.enc.yaml
Due: yaml-fmt

feat(nix): upgrade to latest dependencies
  flake.lock
Due: none

feat: upgrade
  flake.lock
  home-template.nix
  secrets.enc.yaml
Due: yaml-fmt, nixpkgs-fmt

feat: upgrade
  home-template.nix
Due: nixpkgs-fmt

feat: include windows support
  flake.lock
  home-template.nix
Due: nixpkgs-fmt

feat: prepare migration to nix darwin
  flake.lock
  flake.nix
  home-template.nix
  modules/macos/beekeeper-studio/default.nix
  modules/macos/beekeeper-studio/default.nix.tmpl
  modules/macos/default.nix
Due: nixpkgs-fmt

feat: migrated to nix-darwin
  darwin.nix
  flake.lock
  flake.nix
  home-template.nix
  scripts/setup.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

feat: upgrade to darwin
  darwin.nix
  flake.lock
  flake.nix
  home-template.nix
Due: nixpkgs-fmt

feat(nix): use home-manager to manage nix
  darwin.nix
  home-template.nix
Due: nixpkgs-fmt

fix: init command works properly
  home-template.nix
Due: nixpkgs-fmt

feat: codify claude settings
  claude-config/CLAUDE.md
  claude-config/claude-settings.json
  claude-config/claude-work-settings.json
  darwin.nix
  home-template.nix
  modules/claude-config/default.nix
Due: md-fmt, nixpkgs-fmt
