Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

feat(default): update all packages
  flake.lock
  home-template.nix
  modules/macos/aptakube/default.nix
  modules/macos/firefox/default.nix
  modules/macos/httpie/default.nix
Due: nixpkgs-fmt

feat: include ernest-liftoff as profile
  profiles.nix
Due: nixpkgs-fmt

feat(home-template): migrate to initContent
  home-template.nix
Due: nixpkgs-fmt

feat(home-template): change p10k
  home-template.nix
  p10k-config/.p10k.zsh
Due: nixpkgs-fmt

chore(default): attempt to fix CI
  .github/workflows/ci.yaml
Due: yaml-fmt

chore: attempt to fix CI
  .github/actionlint.yaml
  .github/workflows/ci.yaml
Due: yaml-fmt

fix(ci): missing ci shell
  nix/shells.nix
Due: nixpkgs-fmt

feat(p10k-config): change shell prompt type
  p10k-config/.p10k.zsh
Due: none

feat(default): add devenv to base environment
  home-template.nix
Due: nixpkgs-fmt

feat(default): add httplz
  home-template.nix
  nix/pre-commit.nix
Due: nixpkgs-fmt

chore(default): snapshot
  home-template.nix
Due: nixpkgs-fmt

feat(macos): remove httpie and zed
  flake.lock
  home-template.nix
  modules/macos/default.nix
  scripts/update_mac.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

fix(default): migrate more apps into home-manager
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  modules/macos/default.nix
  scripts/update_mac.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

feat(home-manager): include secrets in home-manager
  .gitignore
  .sops.yaml
  Taskfile.yaml
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  modules/default.nix
  modules/get-uuid/default.nix
  modules/get-uuid/default.sh
  modules/load-secrets/default.nix
  modules/load-secrets/default.sh
  modules/macos/aptakube/default.nix
  modules/macos/aptakube/default.nix.tmpl
  modules/macos/arc/default.nix
  modules/macos/arc/default.nix.tmpl
  modules/macos/firefox/default.nix
  modules/macos/firefox/default.nix.tmpl
  modules/macos/httpie/default.nix
  modules/macos/httpie/default.nix.tmpl
  modules/register-with-github/default.nix
  modules/register-with-github/default.sh
  modules/set-signing-key/default.nix
  modules/set-signing-key/default.sh
  modules/setup-devbox-server/default.nix
  modules/setup-devbox-server/default.sh
  modules/setup-keys/default.sh
  secrets.enc.yaml
Due: shfmt, cfg-scripts, yaml-fmt, nixpkgs-fmt

fix(default): allow configuring age key
  README.MD
  flake.lock
  scripts/setup.sh
  scripts/updates/aptakube.sh
  scripts/updates/firefox.sh
  scripts/updates/httpie.sh
  scripts/updates/zed.sh
Due: shfmt, cfg-scripts, md-fmt

feat: include liftoff private key
  secrets.enc.yaml
Due: yaml-fmt

feat: trampoline
  flake.lock
  flake.nix
Due: nixpkgs-fmt

feat: upgrade to 25.05
  .github/workflows/cache.yaml
  .github/workflows/⚡reusable-cacheshell.yaml
  .gitignore
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  nix/packages.nix
  scripts/ci/cache-shell.sh
  secrets.enc.yaml
Due: shfmt, cfg-scripts, yaml-fmt, nixpkgs-fmt

feat: missing attic token
  secrets.enc.yaml
Due: yaml-fmt

fix(default): update sha256 for google chrome cask
  home-template.nix
Due: nixpkgs-fmt
