Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

shfmt:
  name: Format Shell Scripts
  entry: pls fmt:sh
  pass_filenames: false
  language: system

cfg-scripts:
  name: Configure Scripts
  entry: pls cfg:scripts
  pass_filenames: false
  language: system

yaml-fmt:
  name: Format YAML with prettier
  entry: pls fmt:yaml
  pass_filenames: false
  language: system

md-fmt:
  name: Format Markdown with prettier
  entry: pls fmt:md
  pass_filenames: false
  language: system

nixpkgs-fmt:
  name: Format NIX files
  entry: pls fmt:nix
  language: system
  pass_filenames: false

feat: updated all apps 8th september 2024
  flake.lock
  modules/macos/aptakube/default.nix
  modules/macos/arc/default.nix
  modules/macos/firefox/default.nix
  modules/macos/zed/default.nix
Due: nixpkgs-fmt

feat: updated all apps 27th september 2024
  flake.lock
  modules/macos/aptakube/default.nix
  modules/macos/arc/default.nix
  modules/macos/beekeeper-studio/default.nix
  modules/macos/firefox/default.nix
  modules/macos/zed/default.nix
Due: nixpkgs-fmt

feat: remove arc from nix control
  home-template.nix
  modules/macos/default.nix
  scripts/update_mac.sh
  scripts/updates/arc.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

fix: allow delete cycle to work independent of quoting system
  scripts/delete_cycle.sh
Due: shfmt, cfg-scripts

feat: include stern
  home-template.nix
Due: nixpkgs-fmt

feat: upgrade all packages
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  modules/macos/aptakube/default.nix
  modules/macos/beekeeper-studio/default.nix
  modules/macos/firefox/default.nix
  modules/macos/zed/default.nix
  nix/packages.nix
Due: nixpkgs-fmt

feat: upgrade all packages
  flake.lock
  modules/macos/aptakube/default.nix
Due: nixpkgs-fmt

feat: include liftoff env
  home-template.nix
Due: nixpkgs-fmt

feat: update packages
  flake.lock
  modules/macos/aptakube/default.nix
  modules/macos/zed/default.nix
Due: nixpkgs-fmt

fix: remove aws-binding from liftoff spec
  home-template.nix
Due: nixpkgs-fmt

fix: keychain problem
  home-template.nix
Due: nixpkgs-fmt

feat: remove zed
  flake.lock
  home-template.nix
  modules/k8s-sdm/default.sh
  modules/macos/default.nix
  modules/macos/zed/default.nix
  modules/macos/zed/default.nix.tmpl
  scripts/update_mac.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

feat: alias to open raycast
  home-template.nix
Due: nixpkgs-fmt

feat: added cyanprint
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  modules/macos/arc/default.nix
  modules/setup-devbox-server/default.sh
  modules/setup-keys/default.sh
  scripts/updates/firefox.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

dep(default): upgrade dependencies
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .gitlint
  .prettierrc.yaml
  atomi_release.yaml
  docs/developer/CommitConventions.md
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  modules/default.nix
  modules/k8s-update/default.nix
  modules/k8s-update/default.sh
  modules/macos/aptakube/default.nix
  modules/macos/beekeeper-studio/default.nix
  modules/macos/firefox/default.nix
  modules/macos/httpie/default.nix
  nix/env.nix
  nix/fmt.nix
  nix/packages.nix
  nix/pre-commit.nix
  scripts/ci/pre-commit.sh
Due: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

feat(nix): add new logging commands to home-template
  home-template.nix
Due: nixpkgs-fmt

chore(nix): add nano to home-template.nix
  home-template.nix
Due: nixpkgs-fmt

fix(default): update flake.lock and home-template.nix
  flake.lock
  home-template.nix
Due: nixpkgs-fmt

fix: gpg
  home-template.nix
Due: nixpkgs-fmt

feat(homemanager): added tailscale to homemanager
  home-template.nix
Due: nixpkgs-fmt

Path conditions:
  shfmt: any of: ^.*\.sh$
  cfg-scripts: any of: ^.*\.sh$
  yaml-fmt: any of: ^.*\.(yaml|yml)$
  md-fmt: any of: ^.*\.(MD|md)$
  nixpkgs-fmt: any of: ^.*\.nix$
