Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

fix: pin nixpkgs-stable to cached 2026-06-22 rev for x86_64-linux
  flake.lock
Due: none

fix: revert flake.lock to pre-refresh state (67bff72)
  flake.lock
Due: none

fix: bump atomipkgs for atomi.nsc; add R2 backup creds to sops
  flake.lock
  secrets.enc.yaml
Due: yaml-fmt

fix(setup): trust the user in the nix daemon on linux boxes
  modules/kfleet-ts/src/core/creds.ts
  modules/kfleet-ts/src/core/usage.ts
  scripts/setup.sh
Due: shfmt, cfg-scripts

fix(kfleet): pick up local usage/login edits that parse cleanly
  modules/kfleet-ts/src/core/login.ts
  modules/kfleet-ts/src/core/usage.ts
Due: none

feat: kfleet usage/login iteration; Touch ID for sudo
  darwin.nix
  modules/kfleet-ts/src/cli/serve.ts
  modules/kfleet-ts/src/cli/usage.ts
  modules/kfleet-ts/src/core/login.ts
  modules/kfleet-ts/src/core/types.ts
  modules/kfleet-ts/src/core/usage.test.ts
  modules/kfleet-ts/src/core/usage.ts
Due: nixpkgs-fmt

fix(zsh): bump zsh-autocomplete 2023->2026, safe history keybinds
  home-template.nix
Due: nixpkgs-fmt

fix(box): sync the local terminal's terminfo onto the box
  scripts/box/replicate.sh
Due: shfmt, cfg-scripts

refactor(box): userdata bootstraps HM; replicate = age key + workspace
  home-template.nix
  infra/cloud-init.yaml.tftpl
  modules/load-secrets/default.sh
  modules/terminfo/xterm-ghostty.terminfo
  scripts/box/backup-install.sh
  scripts/box/replicate.sh
  scripts/box/tailscale.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

docs: box layering — userdata bootstraps, replicate = key + workspace
  CLAUDE.md
Due: md-fmt

fix(setup): prompt for the age key BEFORE the switch, via /dev/tty
  scripts/setup.sh
Due: shfmt, cfg-scripts

fix(kfleet): linux credential support + graceful missing-CLI login
  modules/kfleet-ts/src/cli/login.ts
  modules/kfleet-ts/src/core/creds.ts
  modules/kfleet-ts/src/core/login.ts
  modules/kfleet-ts/src/core/usage.ts
Due: none

feat: nightly codex (sadjow/codex-cli-nix) on linux boxes
  flake.lock
  flake.nix
  home-template.nix
  home.nix
Due: nixpkgs-fmt

feat: box:login task — codex OAuth callback over ssh port-forward
  Taskfile.yaml
Due: yaml-fmt

feat(box): bake codex OAuth callback forward into the box ssh alias
  Taskfile.yaml
  scripts/box/up.sh
Due: shfmt, cfg-scripts, yaml-fmt

feat(box): zsh as the login shell (cloud-init package + user shell)
  infra/cloud-init.yaml.tftpl
Due: none

feat(box): rsync loose Workspace dirs via sops .box.sync_dirs
  scripts/box/replicate.sh
  secrets.enc.yaml
Due: shfmt, cfg-scripts, yaml-fmt

fix: radon manifest path under atomi/sulfoxide
  secrets.enc.yaml
Due: yaml-fmt

fix(box): sync-dirs loop — stop in-loop ssh from eating the list
  scripts/box/replicate.sh
Due: shfmt, cfg-scripts
