Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

feat: added backup restore
  modules/backup-folder.nix
  modules/backup-folder.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

docs: added docs on backup restoration
  README.MD
Due: md-fmt

fix: restore incorrectly exiting
  modules/backup-folder.sh
Due: shfmt, cfg-scripts

fix: apply missing fixes
  modules/backup-folder.sh
Due: shfmt, cfg-scripts

feat: remove gm alias so that imagegraphic can work
  home.nix
Due: nixpkgs-fmt

docs: added crontab instructions
  README.MD
Due: md-fmt

feat: added SSH and GPG key setup
  home-template.nix
  home.nix
  modules/get-uuid.nix
  modules/get-uuid.sh
  modules/register-with-github.nix
  modules/register-with-github.sh
  modules/set-signing-key.nix
  modules/set-signing-key.sh
  modules/setup-devbox-server.nix
  modules/setup-devbox-server.sh
  modules/setup-keys.nix
  modules/setup-keys.sh
  scripts/setup-workspace.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

feat: added sed to convert GPG public key to \n
  modules/register-with-github.nix
  modules/register-with-github.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

feat: added register w github into PATH
  home-template.nix
Due: nixpkgs-fmt

fix: get uuid did not prompt before generating key
  modules/register-with-github.sh
Due: shfmt, cfg-scripts

feat: add work configuration
  modules/setup-devbox-server.nix
  modules/setup-devbox-server.sh
  scripts/secon-user-setup-workspace.sh
  work.nix
Due: shfmt, cfg-scripts, nixpkgs-fmt

fix: disable compfix
  home-template.nix
  scripts/secon-user-setup-workspace.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

fix: remove compfix
  home-template.nix
Due: nixpkgs-fmt

feat: update to home-manager 21.11
  cloud-init.yaml
  flake.nix
  scripts/install-home-manager-single.sh
  scripts/install-home-manager.sh
  scripts/only-home-manager.sh
  work.nix
Due: shfmt, cfg-scripts, yaml-fmt, nixpkgs-fmt

remove: flake installation
  cloud-init.yaml
  flake.nix
  gpg_public.asc
  modules/setup-devbox-server.sh
Due: shfmt, cfg-scripts, yaml-fmt, nixpkgs-fmt

fix: gpg service included
  flake.nix
  home-template.nix
  home.nix
  scripts/install-home-manager-interactive.sh
  scripts/secon-user-setup-workspace.sh
  scripts/setup-workspace-interactive.sh
  scripts/setup-workspace.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

fix: permission error for non-interactive install
  scripts/setup-workspace.sh
Due: shfmt, cfg-scripts

fix: flakes syntax error
  flake.nix
Due: nixpkgs-fmt

fix: service incorrect placement
  flake.nix
  home-template.nix
Due: nixpkgs-fmt
