Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

feat(kteam): two-level cgroup caps for the fleet
  modules/kteam-ts/DESIGN-cgroup-caps.md
  modules/kteam-ts/src/api-client.ts
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/cgroups.test.ts
  modules/kteam-ts/src/cgroups.ts
  modules/kteam-ts/src/daemon-config.test.ts
  modules/kteam-ts/src/daemon-config.ts
  modules/kteam-ts/src/daemon-entry.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/service.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/tmux-controller.ts
  modules/kteam-ts/verify-cgroups.sh
Due: shfmt, cfg-scripts, md-fmt

docs(kteam): log the launch-storm stall-kill incident
  kteam-prob.md
Due: md-fmt

docs(kteam-ui): land the reference-standard design plan
  modules/kteam-ts/ui/DESIGN-references.md
Due: md-fmt

feat(kteam): four attention kinds, two-sided dismissal, notifications
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/attention-api.test.ts
  modules/kteam-ts/src/attention-api.ts
  modules/kteam-ts/src/attention-cli.test.ts
  modules/kteam-ts/src/attention-cli.ts
  modules/kteam-ts/src/attention-notifier.test.ts
  modules/kteam-ts/src/attention-notifier.ts
  modules/kteam-ts/src/attention-service.test.ts
  modules/kteam-ts/src/attention-service.ts
  modules/kteam-ts/src/attention-sources.test.ts
  modules/kteam-ts/src/attention-sources.ts
  modules/kteam-ts/src/attention-store.test.ts
  modules/kteam-ts/src/attention-store.ts
  modules/kteam-ts/src/attention-types.ts
  modules/kteam-ts/src/attention-wiring.test.ts
  modules/kteam-ts/src/attention.ts
  modules/kteam-ts/src/daemon-entry.ts
  modules/kteam-ts/src/notification-policy.test.ts
  modules/kteam-ts/src/notification-policy.ts
  modules/kteam-ts/src/push-notifier.test.ts
  modules/kteam-ts/src/push-notifier.ts
  modules/kteam-ts/src/push-service.ts
  modules/kteam-ts/src/route-coverage.test.ts
  modules/kteam-ts/ui/src/components/AttentionPanel.test.tsx
  modules/kteam-ts/ui/src/components/AttentionPanel.tsx
  modules/kteam-ts/ui/src/lib/attention.test.ts
  modules/kteam-ts/ui/src/lib/attention.ts
Due: none

fix(kfleet): prove CLI failure before login (#3)
  kteam-prob.md
  modules/kfleet-ts/src/cli/login.test.ts
  modules/kfleet-ts/src/cli/login.ts
  modules/kfleet-ts/src/core/creds.ts
  modules/kfleet-ts/src/core/firstrun.test.ts
  modules/kfleet-ts/src/core/firstrun.ts
  modules/kfleet-ts/src/core/generate.ts
  modules/kfleet-ts/src/core/health.test.ts
  modules/kfleet-ts/src/core/health.ts
  modules/kfleet-ts/src/core/login.test.ts
  modules/kfleet-ts/src/core/login.ts
  modules/khost-ts/src/__tests__/tunnel.test.ts
  modules/kteam-ts/HANDOVER.md
Due: md-fmt

feat(kteam): analytics ingestion at session end, canonical model id
  modules/kteam-ts/src/analytics-index.test.ts
  modules/kteam-ts/src/analytics-index.ts
  modules/kteam-ts/src/analytics-types.ts
  modules/kteam-ts/src/daemon-entry.ts
  modules/kteam-ts/src/fixtures/analytics-claude-terminal.jsonl
  modules/kteam-ts/src/fixtures/analytics-codex-terminal.jsonl
  modules/kteam-ts/src/session-manager-analytics.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/ui/src/components/AnalyticsSurface.tsx
  modules/kteam-ts/ui/src/lib/analytics-query-complete.ts
Due: none

fix(kteam-ui): stop the context menu blocking mobile text selection
  modules/kteam-ts/ui/src/components/Transcript.tsx
  modules/kteam-ts/ui/src/lib/context-menu-policy.test.ts
  modules/kteam-ts/ui/src/lib/context-menu-policy.ts
Due: none

feat(kteam-ui): compress the browser HUD to a single bar
  modules/kteam-ts/ui/src/components/RemoteBrowserPane.test.tsx
  modules/kteam-ts/ui/src/components/RemoteBrowserPane.tsx
  modules/kteam-ts/ui/src/components/SidePane.test.tsx
  modules/kteam-ts/ui/src/components/UnifiedBrowserSurface.test.tsx
  modules/kteam-ts/ui/src/components/UnifiedBrowserSurface.tsx
Due: none

feat(kteam-ui): files single bar and collapsible tree
  modules/kteam-ts/ui/src/components/FileTree.test.tsx
  modules/kteam-ts/ui/src/components/FileTree.tsx
  modules/kteam-ts/ui/src/components/FilesTab.test.tsx
  modules/kteam-ts/ui/src/components/FilesTab.tsx
  modules/kteam-ts/ui/src/components/file-tree-model.test.ts
  modules/kteam-ts/ui/src/components/file-tree-model.ts
  modules/kteam-ts/ui/src/components/files-model.ts
  modules/kteam-ts/ui/src/components/files.css
Due: none

feat(kteam): group skills global vs project and badge the harness
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/route-coverage.test.ts
  modules/kteam-ts/src/skills.test.ts
  modules/kteam-ts/src/skills.ts
  modules/kteam-ts/ui/src/components/SkillsSurface.test.tsx
  modules/kteam-ts/ui/src/components/SkillsSurface.tsx
  modules/kteam-ts/ui/src/components/composer-autocomplete-providers.ts
Due: none

feat(kteam-ui): add the shared side pane search primitive
  modules/kteam-ts/ui/src/components/SidePaneSearch.test.tsx
  modules/kteam-ts/ui/src/components/SidePaneSearch.tsx
Due: none

feat(kteam-ui): command palette covers every destination
  modules/kteam-ts/ui/src/App.tsx
  modules/kteam-ts/ui/src/components/CommandPalette.test.ts
  modules/kteam-ts/ui/src/components/CommandPalette.tsx
  modules/kteam-ts/ui/src/hooks/usePullToPalette.test.ts
  modules/kteam-ts/ui/src/hooks/usePullToPalette.ts
  modules/kteam-ts/ui/src/lib/palette-destinations.test.ts
  modules/kteam-ts/ui/src/lib/palette-destinations.ts
  modules/kteam-ts/ui/src/pages/SessionsListPage.tsx
Due: none

build(kteam-ui): deploy release 99a1b9369a20
  modules/kteam-ts/ui-dist/assets/AnalyticsSurface-Bfhb4YlH.js
  modules/kteam-ts/ui-dist/assets/AnalyticsSurface-DOaAapdV.js
  modules/kteam-ts/ui-dist/assets/GlobalAnalyticsPage-BtGzzLGN.js
  modules/kteam-ts/ui-dist/assets/GlobalAnalyticsPage-DxheGXkB.js
  modules/kteam-ts/ui-dist/assets/Markdown-Q9Tfz093.js
  modules/kteam-ts/ui-dist/assets/SessionChatPage-9Gpowzq5.css
  modules/kteam-ts/ui-dist/assets/SessionChatPage-CftpX72u.css
  modules/kteam-ts/ui-dist/assets/SessionChatPage-D_7irdOX.js
  modules/kteam-ts/ui-dist/assets/SessionChatPage-e3qIEMWh.js
  modules/kteam-ts/ui-dist/assets/index-BEvtlVGy.css
  modules/kteam-ts/ui-dist/assets/index-Bc1zGZz2.js
  modules/kteam-ts/ui-dist/assets/index-C9N1hcoW.css
  modules/kteam-ts/ui-dist/assets/index-DfFdbcn9.js
  modules/kteam-ts/ui-dist/assets/index-DkOVKGTj.js
  modules/kteam-ts/ui-dist/assets/index-Dy3iHZFV.js
  modules/kteam-ts/ui-dist/assets/remote-enhancement-Bg9v9IDo.js
  modules/kteam-ts/ui-dist/assets/remote-enhancement-Bw5mAUMs.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui-dist/manifest-contrast-dark.99a1b9369a20.json
  modules/kteam-ts/ui-dist/manifest-contrast-light.99a1b9369a20.json
  modules/kteam-ts/ui-dist/manifest-ember-dark.99a1b9369a20.json
  modules/kteam-ts/ui-dist/manifest-ember-light.99a1b9369a20.json
  modules/kteam-ts/ui-dist/manifest-geist-dark.99a1b9369a20.json
  modules/kteam-ts/ui-dist/manifest-geist-light.99a1b9369a20.json
  modules/kteam-ts/ui-dist/manifest-mission-dark.99a1b9369a20.json
  modules/kteam-ts/ui-dist/manifest-mission-light.99a1b9369a20.json
  modules/kteam-ts/ui-dist/manifest-neo-dark.99a1b9369a20.json
  modules/kteam-ts/ui-dist/manifest-neo-light.99a1b9369a20.json
  modules/kteam-ts/ui-dist/manifest-notebook-dark.99a1b9369a20.json
  modules/kteam-ts/ui-dist/manifest-notebook-light.99a1b9369a20.json
  modules/kteam-ts/ui-dist/manifest-studio-dark.99a1b9369a20.json
  modules/kteam-ts/ui-dist/manifest-studio-light.99a1b9369a20.json
  modules/kteam-ts/ui-dist/offline.99a1b9369a20.html
  modules/kteam-ts/ui-dist/sw.99a1b9369a20.js
Due: none

fix(kteam-ui): enforce portrait when the platform refuses to lock
  modules/kteam-ts/ui/src/index.css
  modules/kteam-ts/ui/src/lib/orientation-lock.test.ts
  modules/kteam-ts/ui/src/lib/orientation-lock.ts
Due: none

build(kteam-ui): deploy release 802edef5f7b2
  modules/kteam-ts/ui-dist/assets/AnalyticsSurface-D41_yA7Z.js
  modules/kteam-ts/ui-dist/assets/GlobalAnalyticsPage-Butg9vFI.js
  modules/kteam-ts/ui-dist/assets/GlobalAnalyticsPage-DxheGXkB.js
  modules/kteam-ts/ui-dist/assets/SessionChatPage-hjvDSQi2.js
  modules/kteam-ts/ui-dist/assets/index-BEvtlVGy.css
  modules/kteam-ts/ui-dist/assets/index-CzIgYJ3F.css
  modules/kteam-ts/ui-dist/assets/index-DkOVKGTj.js
  modules/kteam-ts/ui-dist/assets/index-DlW9wDk8.js
  modules/kteam-ts/ui-dist/assets/index-Dy3iHZFV.js
  modules/kteam-ts/ui-dist/assets/index-FeeDn9ju.js
  modules/kteam-ts/ui-dist/assets/remote-enhancement-Bw5mAUMs.js
  modules/kteam-ts/ui-dist/assets/remote-enhancement-QPyscRV3.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui-dist/manifest-contrast-dark.802edef5f7b2.json
  modules/kteam-ts/ui-dist/manifest-contrast-light.802edef5f7b2.json
  modules/kteam-ts/ui-dist/manifest-ember-dark.802edef5f7b2.json
  modules/kteam-ts/ui-dist/manifest-ember-light.802edef5f7b2.json
  modules/kteam-ts/ui-dist/manifest-geist-dark.802edef5f7b2.json
  modules/kteam-ts/ui-dist/manifest-geist-light.802edef5f7b2.json
  modules/kteam-ts/ui-dist/manifest-mission-dark.802edef5f7b2.json
  modules/kteam-ts/ui-dist/manifest-mission-light.802edef5f7b2.json
  modules/kteam-ts/ui-dist/manifest-neo-dark.802edef5f7b2.json
  modules/kteam-ts/ui-dist/manifest-neo-light.802edef5f7b2.json
  modules/kteam-ts/ui-dist/manifest-notebook-dark.802edef5f7b2.json
  modules/kteam-ts/ui-dist/manifest-notebook-light.802edef5f7b2.json
  modules/kteam-ts/ui-dist/manifest-studio-dark.802edef5f7b2.json
  modules/kteam-ts/ui-dist/manifest-studio-light.802edef5f7b2.json
  modules/kteam-ts/ui-dist/offline.802edef5f7b2.html
  modules/kteam-ts/ui-dist/sw.802edef5f7b2.js
Due: none

feat(kteam): action-first warden reports, no attention for dead sessions
  modules/kteam-ts/src/session-manager-peer.test.ts
  modules/kteam-ts/src/session-manager-warden-failover.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/warden-attention.test.ts
  modules/kteam-ts/src/warden-attention.ts
  modules/kteam-ts/src/warden-detect.test.ts
  modules/kteam-ts/src/warden-detect.ts
  modules/kteam-ts/src/warden-verdicts.test.ts
  modules/kteam-ts/src/warden-verdicts.ts
  modules/kteam-ts/ui/src/components/WardenAttention.test.tsx
  modules/kteam-ts/ui/src/components/WardenAttention.tsx
  modules/kteam-ts/ui/src/components/WardenVerdicts.test.tsx
  modules/kteam-ts/ui/src/components/WardenVerdicts.tsx
  modules/kteam-ts/ui/src/types.ts
Due: none

build(kteam-ui): deploy release 0ab76921628d
  modules/kteam-ts/ui-dist/assets/AnalyticsSurface-CQuEtgHb.js
  modules/kteam-ts/ui-dist/assets/GlobalAnalyticsPage-Bjw1rixN.js
  modules/kteam-ts/ui-dist/assets/GlobalAnalyticsPage-Butg9vFI.js
  modules/kteam-ts/ui-dist/assets/SessionChatPage-DKHQPHKu.js
  modules/kteam-ts/ui-dist/assets/index-BWY2LBmN.css
  modules/kteam-ts/ui-dist/assets/index-BWYhgamQ.js
  modules/kteam-ts/ui-dist/assets/index-CzIgYJ3F.css
  modules/kteam-ts/ui-dist/assets/index-DlW9wDk8.js
  modules/kteam-ts/ui-dist/assets/index-FeeDn9ju.js
  modules/kteam-ts/ui-dist/assets/index-Uxqznas5.js
  modules/kteam-ts/ui-dist/assets/remote-enhancement-CvRzZ2qu.js
  modules/kteam-ts/ui-dist/assets/remote-enhancement-QPyscRV3.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui-dist/manifest-contrast-dark.0ab76921628d.json
  modules/kteam-ts/ui-dist/manifest-contrast-light.0ab76921628d.json
  modules/kteam-ts/ui-dist/manifest-ember-dark.0ab76921628d.json
  modules/kteam-ts/ui-dist/manifest-ember-light.0ab76921628d.json
  modules/kteam-ts/ui-dist/manifest-geist-dark.0ab76921628d.json
  modules/kteam-ts/ui-dist/manifest-geist-light.0ab76921628d.json
  modules/kteam-ts/ui-dist/manifest-mission-dark.0ab76921628d.json
  modules/kteam-ts/ui-dist/manifest-mission-light.0ab76921628d.json
  modules/kteam-ts/ui-dist/manifest-neo-dark.0ab76921628d.json
  modules/kteam-ts/ui-dist/manifest-neo-light.0ab76921628d.json
  modules/kteam-ts/ui-dist/manifest-notebook-dark.0ab76921628d.json
  modules/kteam-ts/ui-dist/manifest-notebook-light.0ab76921628d.json
  modules/kteam-ts/ui-dist/manifest-studio-dark.0ab76921628d.json
  modules/kteam-ts/ui-dist/manifest-studio-light.0ab76921628d.json
  modules/kteam-ts/ui-dist/offline.0ab76921628d.html
  modules/kteam-ts/ui-dist/sw.0ab76921628d.js
Due: none

feat(kteam): make the PWA name and icon settable
  modules/kteam-ts/src/api-client.ts
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/daemon-entry.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/pwa-cli.test.ts
  modules/kteam-ts/src/pwa.test.ts
  modules/kteam-ts/src/pwa.ts
  modules/kteam-ts/src/route-coverage.test.ts
  modules/kteam-ts/src/service.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/ui/src/lib/api.ts
  modules/kteam-ts/ui/src/pages/SettingsPage.test.tsx
  modules/kteam-ts/ui/src/pages/SettingsPage.tsx
  modules/kteam-ts/ui/src/types.ts
Due: none

feat(kteam-ui): one side pane tab per file and per page
  modules/kteam-ts/ui/DESIGN-side-pane-tabs.md
  modules/kteam-ts/ui/src/components/SidePane.test.tsx
  modules/kteam-ts/ui/src/components/SidePane.tsx
  modules/kteam-ts/ui/src/components/SidePaneTabs.test.tsx
  modules/kteam-ts/ui/src/components/SidePaneTabs.tsx
  modules/kteam-ts/ui/src/lib/side-pane-tab-model.test.ts
  modules/kteam-ts/ui/src/lib/side-pane-tab-model.ts
Due: md-fmt

feat(obsidian): sync every vault, and actually enable at boot
  home-template.nix
Due: nixpkgs-fmt

feat(kteam): unlock encrypted PDFs in memory instead of rejecting them
  modules/kteam-ts/bun.lock
  modules/kteam-ts/package.json
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/attachment-unlock.ts
  modules/kteam-ts/src/attachments-encrypted.test.ts
  modules/kteam-ts/src/attachments.test.ts
  modules/kteam-ts/src/attachments.ts
  modules/kteam-ts/src/fixtures/encrypted-pdf.ts
  modules/kteam-ts/src/memory-locator.test.ts
  modules/kteam-ts/src/memory-locator.ts
  modules/kteam-ts/src/pdf-decrypt-worker.ts
  modules/kteam-ts/src/pdf-decrypt.test.ts
  modules/kteam-ts/src/pdf-decrypt.ts
  modules/kteam-ts/src/route-coverage.test.ts
  modules/kteam-ts/src/service.ts
  modules/kteam-ts/src/session-manager-attachments.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/ui/src/components/AttachmentUnlockPrompt.test.tsx
  modules/kteam-ts/ui/src/components/AttachmentUnlockPrompt.tsx
  modules/kteam-ts/ui/src/lib/api.ts
  modules/kteam-ts/ui/src/lib/attachments.test.ts
  modules/kteam-ts/ui/src/lib/attachments.ts
  modules/kteam-ts/ui/src/pages/PendingAttachmentStrip.test.tsx
  modules/kteam-ts/ui/src/pages/SessionChatPage.tsx
Due: none

feat(kteam-ui): make the attention panel read like a note
  modules/kteam-ts/ui/src/components/AttentionPanel.test.tsx
  modules/kteam-ts/ui/src/components/AttentionPanel.tsx
  modules/kteam-ts/ui/src/components/attention-views.css
Due: none

build(kteam-ui): deploy release d38c03e8b81f
  modules/kteam-ts/ui-dist/assets/AnalyticsSurface-C545H1Mg.js
  modules/kteam-ts/ui-dist/assets/AnalyticsSurface-CQuEtgHb.js
  modules/kteam-ts/ui-dist/assets/GlobalAnalyticsPage-Bjw1rixN.js
  modules/kteam-ts/ui-dist/assets/GlobalAnalyticsPage-CRUM7lwK.js
  modules/kteam-ts/ui-dist/assets/SessionChatPage-CftpX72u.css
  modules/kteam-ts/ui-dist/assets/SessionChatPage-DKHQPHKu.js
  modules/kteam-ts/ui-dist/assets/SessionChatPage-Dly7OL2u.js
  modules/kteam-ts/ui-dist/assets/SessionChatPage-DqXxC6aV.css
  modules/kteam-ts/ui-dist/assets/index-BP5fu-1j.js
  modules/kteam-ts/ui-dist/assets/index-BWY2LBmN.css
  modules/kteam-ts/ui-dist/assets/index-BWYhgamQ.js
  modules/kteam-ts/ui-dist/assets/index-DkSArfRC.js
  modules/kteam-ts/ui-dist/assets/index-DmD7VqpJ.css
  modules/kteam-ts/ui-dist/assets/index-Uxqznas5.js
  modules/kteam-ts/ui-dist/assets/remote-enhancement-5KpOO41n.js
  modules/kteam-ts/ui-dist/assets/remote-enhancement-CvRzZ2qu.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui-dist/manifest-contrast-dark.d38c03e8b81f.json
  modules/kteam-ts/ui-dist/manifest-contrast-light.d38c03e8b81f.json
  modules/kteam-ts/ui-dist/manifest-ember-dark.d38c03e8b81f.json
  modules/kteam-ts/ui-dist/manifest-ember-light.d38c03e8b81f.json
  modules/kteam-ts/ui-dist/manifest-geist-dark.d38c03e8b81f.json
  modules/kteam-ts/ui-dist/manifest-geist-light.d38c03e8b81f.json
  modules/kteam-ts/ui-dist/manifest-mission-dark.d38c03e8b81f.json
  modules/kteam-ts/ui-dist/manifest-mission-light.d38c03e8b81f.json
  modules/kteam-ts/ui-dist/manifest-neo-dark.d38c03e8b81f.json
  modules/kteam-ts/ui-dist/manifest-neo-light.d38c03e8b81f.json
  modules/kteam-ts/ui-dist/manifest-notebook-dark.d38c03e8b81f.json
  modules/kteam-ts/ui-dist/manifest-notebook-light.d38c03e8b81f.json
  modules/kteam-ts/ui-dist/manifest-studio-dark.d38c03e8b81f.json
  modules/kteam-ts/ui-dist/manifest-studio-light.d38c03e8b81f.json
  modules/kteam-ts/ui-dist/offline.d38c03e8b81f.html
  modules/kteam-ts/ui-dist/sw.d38c03e8b81f.js
Due: none
