Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

shfmt:
  name: Format Shell Scripts
  entry: pls fmt:sh
  pass_filenames: false
  language: system

cfg-scripts:
  name: Configure Scripts
  entry: pls cfg:scripts
  pass_filenames: false
  language: system

yaml-fmt:
  name: Format YAML with prettier
  entry: pls fmt:yaml
  pass_filenames: false
  language: system

md-fmt:
  name: Format Markdown with prettier
  entry: pls fmt:md
  pass_filenames: false
  language: system

nixpkgs-fmt:
  name: Format NIX files
  entry: pls fmt:nix
  language: system
  pass_filenames: false

fix: live autocomplete incorrect owner
  flake.lock
  home-template.nix
Due: nixpkgs-fmt

feat: jetbrains IDE for linux
  home-template.nix
  upstream.nix
Due: nixpkgs-fmt

try: remove pkgs prefix and grouping output
  home-template.nix
Due: nixpkgs-fmt

fix: linux jetbrains
  home-template.nix
Due: nixpkgs-fmt

feat: migrate to flakes
  .envrc
  Taskfile.yml
  cloud-init.yaml
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  nix/env.nix
  nix/fmt.nix
  nix/packages.nix
  nix/pre-commit.nix
  nix/shells.nix
  profiles.nix
  scripts/fmt.yml
  scripts/install-home-manager-interactive.sh
  scripts/install-home-manager-single.sh
  scripts/install-home-manager.sh
  scripts/kirin-config.sh
  scripts/lint.yml
  scripts/only-home-manager.sh
  scripts/setup-workspace-interactive.sh
  scripts/setup-workspace.sh
  shell.nix
  upstream.nix
Due: shfmt, cfg-scripts, yaml-fmt, nixpkgs-fmt

feat: use determinate systems for installations
  README.MD
  flake.nix
  home-template.nix
  modules/register-with-github/default.sh
  profiles.nix
  scripts/setup.sh
Due: shfmt, cfg-scripts, md-fmt, nixpkgs-fmt

fix: incorrect sync of home-manager
  scripts/setup.sh
Due: shfmt, cfg-scripts

feat: default macos apps
  README.MD
  home-template.nix
  modules/default.nix
  modules/macos/aptakube/default.nix
  modules/macos/arc/default.nix
  modules/macos/beekeeper-studio/default.nix
  modules/macos/default.nix
  modules/macos/firefox/default.nix
  modules/macos/httpie/default.nix
  modules/macos/zed/default.nix
  modules/okta.nix
Due: md-fmt, nixpkgs-fmt

feat: upgrade applications to latest
  flake.lock
  home-template.nix
  modules/macos/aptakube/default.nix
  modules/macos/arc/default.nix
  modules/macos/beekeeper-studio/default.nix
  modules/macos/firefox/default.nix
  modules/macos/zed/default.nix
  modules/set-signing-key/default.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

feat: update on 27 Apr 2024
  flake.lock
  home-template.nix
  modules/macos/aptakube/default.nix
  modules/macos/arc/default.nix
  modules/macos/beekeeper-studio/default.nix
  modules/macos/firefox/default.nix
  modules/macos/zed/default.nix
Due: nixpkgs-fmt

feat: allow wrangler to exist
  home-template.nix
Due: nixpkgs-fmt

update: 25th June 2024
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  modules/macos/aptakube/default.nix
  modules/macos/arc/default.nix
  modules/macos/beekeeper-studio/default.nix
  modules/macos/firefox/default.nix
  modules/macos/zed/default.nix
  profiles.nix
Due: nixpkgs-fmt

feat: liftoff-friendly
  flake.lock
  flake.nix
  home-template.nix
Due: nixpkgs-fmt

feat: k8s-sdm
  home-template.nix
  modules/default.nix
  modules/k8s-sdm/default.nix
  modules/k8s-sdm/default.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

feat: include ssm and other aliases
  home-template.nix
  modules/k8s-sdm/default.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

fix: enable autoStash for git
  flake.lock
  home-template.nix
Due: nixpkgs-fmt

feat: prep for auto update
  .envrc
  .gitignore
  .p10k.zsh
  .pre-commit-config.yaml
  Taskfile.yaml
  flake.lock
  flake.nix
  home-template.nix
  modules/backup-folder/default.sh
  modules/get-uuid/default.sh
  modules/k8s-sdm/default.sh
  modules/macos/aptakube/default.nix.tmpl
  modules/macos/arc/default.nix.tmpl
  modules/macos/beekeeper-studio/default.nix.tmpl
  modules/macos/default.nix
  modules/macos/firefox/default.nix.tmpl
  modules/macos/httpie/default.nix.tmpl
  modules/macos/zed/default.nix.tmpl
  modules/register-with-github/default.sh
  modules/setup-devbox-server/default.sh
  modules/setup-keys/default.sh
  modules/setup-pcloud-remote/default.sh
  nix/env.nix
  nix/packages.nix
  nix/pre-commit.nix
  p10k-config/.p10k.zsh
  scripts/setup.sh
  scripts/update_mac.sh
  scripts/updates/aptakube.sh
  scripts/updates/arc.sh
  scripts/updates/beekeeper-studio.sh
  scripts/updates/firefox.sh
  scripts/updates/httpie.sh
  scripts/updates/zed.sh
Due: shfmt, cfg-scripts, yaml-fmt, nixpkgs-fmt

feat: updated all apps 24th august
  Taskfile.yaml
  modules/macos/aptakube/default.nix
  modules/macos/aptakube/default.nix.tmpl
  modules/macos/arc/default.nix
  modules/macos/beekeeper-studio/default.nix
  modules/macos/firefox/default.nix
  modules/macos/httpie/default.nix
  modules/macos/zed/default.nix
  modules/set-signing-key/default.sh
  scripts/delete_cycle.sh
  scripts/update_mac.sh
  scripts/updates/firefox.sh
  scripts/updates/zed.sh
Due: shfmt, cfg-scripts, yaml-fmt, nixpkgs-fmt

feat: liftoff specific
  home-template.nix
  home.nix
Due: nixpkgs-fmt

Path conditions:
  shfmt: any of: ^.*\.sh$
  cfg-scripts: any of: ^.*\.sh$
  yaml-fmt: any of: ^.*\.(yaml|yml)$
  md-fmt: any of: ^.*\.(MD|md)$
  nixpkgs-fmt: any of: ^.*\.nix$
