Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

shfmt:
  name: Format Shell Scripts
  entry: pls fmt:sh
  pass_filenames: false
  language: system

cfg-scripts:
  name: Configure Scripts
  entry: pls cfg:scripts
  pass_filenames: false
  language: system

yaml-fmt:
  name: Format YAML with prettier
  entry: pls fmt:yaml
  pass_filenames: false
  language: system

md-fmt:
  name: Format Markdown with prettier
  entry: pls fmt:md
  pass_filenames: false
  language: system

nixpkgs-fmt:
  name: Format NIX files
  entry: pls fmt:nix
  language: system
  pass_filenames: false

fix(box): exclude build/.gradle/.dart_tool from loose-dir sync
  scripts/box/replicate.sh
Due: shfmt, cfg-scripts

fix(kteam): pane env propagation, wait timeout, gated injection
  kteam-prob.md
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/tmux-controller.ts
Due: md-fmt

docs: kteam experimental — babysit via subagents, log kteam-prob.md
  CLAUDE.md
Due: md-fmt

docs: kirin-box diverged — no unsolicited replicate/rsync/pull
  CLAUDE.md
Due: md-fmt

docs(kfleet): remove RTK section from shared CLAUDE.md files
  kfleet/CLAUDE.auto.md
  kfleet/CLAUDE.md
Due: md-fmt

feat(kteam): per-session model override with kfleet-fed defaults
  kfleet/config.yaml
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
  modules/kteam-ts/src/harness.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/types.ts
Due: yaml-fmt, md-fmt

feat(kloge): local/box CLIProxyAPI for the loge credential pool
  home-template.nix
  kfleet/config.yaml
  modules/default.nix
  modules/kloge-ts/.gitignore
  modules/kloge-ts/README.md
  modules/kloge-ts/bun.lock
  modules/kloge-ts/package.json
  modules/kloge-ts/src/deploy.ts
  modules/kloge-ts/src/exec.ts
  modules/kloge-ts/src/index.ts
  modules/kloge-ts/src/paths.ts
  modules/kloge-ts/src/pull.ts
  modules/kloge-ts/src/render.ts
  modules/kloge-ts/src/tokens.ts
  modules/kloge-ts/tsconfig.json
Due: yaml-fmt, md-fmt, nixpkgs-fmt

feat(kfleet): route loge through local CLIProxyAPI (127.0.0.1:8317)
  kfleet/config.yaml
Due: yaml-fmt

feat(kfleet): seed onboarding + chrome flags in .claude.json
  modules/kfleet-ts/src/core/generate.ts
Due: none

fix(kfleet): seed claudeInChromeDefaultEnabled to kill chrome prompt
  modules/kfleet-ts/src/core/generate.ts
Due: none

chore(flake): bump home-manager-modules for gh login-all
  flake.lock
Due: none

fix(kloge): push skips logs, clears ssh fwd, fixes root perms
  modules/kloge-ts/src/deploy.ts
Due: none

docs(kteam): model-first routing, sol ultra effort, delegate-first
  kfleet/CLAUDE.auto.md
  kfleet/CLAUDE.md
  kfleet/config.yaml
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
  modules/kteam-ts/src/core.ts
Due: yaml-fmt, md-fmt

chore: purge rtk from hooks, settings, and instruction docs
  .rtk/filters.toml
  CLAUDE.md
  home-template.nix
  kfleet/hooks/rtk-rewrite-gemini.sh
  kfleet/hooks/rtk-rewrite.sh
  kfleet/skills-codex/floop/SKILL.md
  kfleet/skills-codex/summary/SKILL.md
  kfleet/skills/floop/SKILL.md
  kfleet/skills/summary/SKILL.md
  kfleet/templates/claude/settings.json
Due: shfmt, cfg-scripts, md-fmt, nixpkgs-fmt

docs(kteam): account-selection layer — 70/30 token split to loge
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
Due: md-fmt

feat(zsh): add kat/kn aliases for klaude at / klaude -n
  home-template.nix
Due: nixpkgs-fmt

docs(kteam): sol@ultra escalation-only; gpg cache ttl 1 month
  home-template.nix
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
Due: md-fmt, nixpkgs-fmt

fix(zsh): self-heal zcompdump on switch; restore autocomplete arrows
  home-template.nix
Due: nixpkgs-fmt

refactor(zsh): key zcompdump to plugin-input hash, drop purge hook
  home-template.nix
Due: nixpkgs-fmt

feat(box): authorize iPad Air ssh key for box access
  infra/cloud-init.yaml.tftpl
Due: none

Path conditions:
  shfmt: any of: ^.*\.sh$
  cfg-scripts: any of: ^.*\.sh$
  yaml-fmt: any of: ^.*\.(yaml|yml)$
  md-fmt: any of: ^.*\.(MD|md)$
  nixpkgs-fmt: any of: ^.*\.nix$
