Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

shfmt:
  name: Format Shell Scripts
  entry: pls fmt:sh
  pass_filenames: false
  language: system

cfg-scripts:
  name: Configure Scripts
  entry: pls cfg:scripts
  pass_filenames: false
  language: system

yaml-fmt:
  name: Format YAML with prettier
  entry: pls fmt:yaml
  pass_filenames: false
  language: system

md-fmt:
  name: Format Markdown with prettier
  entry: pls fmt:md
  pass_filenames: false
  language: system

nixpkgs-fmt:
  name: Format NIX files
  entry: pls fmt:nix
  language: system
  pass_filenames: false

feat(kfleet): share Codex SQLite state
  kfleet/config.yaml
  modules/kfleet-ts/README.md
  modules/kfleet-ts/src/cli/prewarm.test.ts
  modules/kfleet-ts/src/cli/prewarm.ts
  modules/kfleet-ts/src/core/codex-prewarm.test.ts
  modules/kfleet-ts/src/core/codex-prewarm.ts
  modules/kfleet-ts/src/core/generate.test.ts
  modules/kfleet-ts/src/core/generate.ts
  modules/kfleet-ts/src/core/kinds.ts
  modules/kfleet-ts/src/core/shared-history.test.ts
  modules/kfleet-ts/src/core/shared-history.ts
  modules/kfleet-ts/src/core/types.ts
  modules/kfleet-ts/src/deps.ts
  modules/kfleet-ts/src/index.ts
Due: yaml-fmt, md-fmt

feat(kteam): add shared tree task boards
  modules/kteam-ts/src/api-client.test.ts
  modules/kteam-ts/src/api-client.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/daemon-entry.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/paths.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/session-tasks-store.ts
  modules/kteam-ts/src/task-boards-api.test.ts
  modules/kteam-ts/src/task-boards-api.ts
  modules/kteam-ts/src/task-boards-cli.test.ts
  modules/kteam-ts/src/task-boards-cli.ts
  modules/kteam-ts/src/task-boards-store.test.ts
  modules/kteam-ts/src/task-boards-store.ts
  modules/kteam-ts/src/task-boards-types.test.ts
  modules/kteam-ts/src/task-boards-types.ts
  modules/kteam-ts/src/task-boards.test.ts
  modules/kteam-ts/src/task-boards.ts
  modules/kteam-ts/src/tasks-api.test.ts
  modules/kteam-ts/src/tasks-api.ts
  modules/kteam-ts/src/tasks-types.ts
  modules/kteam-ts/src/tasks-workflow.ts
  modules/kteam-ts/src/tasks.ts
  modules/kteam-ts/src/types.ts
Due: none

feat(kteam): add shared tree task boards (#5)
  modules/kteam-ts/src/api-client.test.ts
  modules/kteam-ts/src/api-client.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/daemon-entry.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/paths.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/session-tasks-store.ts
  modules/kteam-ts/src/task-boards-api.test.ts
  modules/kteam-ts/src/task-boards-api.ts
  modules/kteam-ts/src/task-boards-cli.test.ts
  modules/kteam-ts/src/task-boards-cli.ts
  modules/kteam-ts/src/task-boards-store.test.ts
  modules/kteam-ts/src/task-boards-store.ts
  modules/kteam-ts/src/task-boards-types.test.ts
  modules/kteam-ts/src/task-boards-types.ts
  modules/kteam-ts/src/task-boards.test.ts
  modules/kteam-ts/src/task-boards.ts
  modules/kteam-ts/src/tasks-api.test.ts
  modules/kteam-ts/src/tasks-api.ts
  modules/kteam-ts/src/tasks-types.ts
  modules/kteam-ts/src/tasks-workflow.ts
  modules/kteam-ts/src/tasks.ts
  modules/kteam-ts/src/types.ts
Due: none

chore(kfleet): drop the Fable alias from the loge pool
  kfleet/config.yaml
Due: yaml-fmt

feat(kfleet): add direct loge Claude agents
  kfleet/config.yaml
  secrets.enc.yaml
Due: yaml-fmt

feat(kteam): route direct loge Claude agents
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
  modules/kteam-ts/src/fleet-inventory.test.ts
  modules/kteam-ts/src/fleet-inventory.ts
Due: none

feat: teach kteam routing decisions
  kfleet/config.yaml
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
  modules/kfleet-ts/README.md
  modules/kfleet-ts/src/cli/login.test.ts
  modules/kfleet-ts/src/cli/login.ts
  modules/kfleet-ts/src/cli/serve.ts
  modules/kfleet-ts/src/cli/usage.test.ts
  modules/kfleet-ts/src/cli/usage.ts
  modules/kfleet-ts/src/core/config.test.ts
  modules/kfleet-ts/src/core/login.test.ts
  modules/kfleet-ts/src/core/login.ts
  modules/kfleet-ts/src/core/merge.test.ts
  modules/kfleet-ts/src/core/merge.ts
  modules/kfleet-ts/src/core/types.ts
  modules/kfleet-ts/src/core/usage.test.ts
  modules/kfleet-ts/src/core/usage.ts
  modules/kloge-ts/README.md
  modules/kloge-ts/bun.lock
  modules/kloge-ts/package.json
  modules/kloge-ts/src/paths.ts
  modules/kloge-ts/src/pull.ts
  modules/kloge-ts/src/tokens.test.ts
  modules/kloge-ts/src/tokens.ts
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
  modules/kteam-ts/src/fleet-inventory.test.ts
  modules/kteam-ts/src/fleet-inventory.ts
  modules/kteam-ts/src/index.ts
Due: yaml-fmt, md-fmt

feat(kteam): probe harnesses before auto launches
  modules/kfleet-ts/src/core/harness-probe.test.ts
  modules/kfleet-ts/src/core/harness-probe.ts
  modules/kfleet-ts/src/core/health.test.ts
  modules/kfleet-ts/src/core/health.ts
  modules/kteam-ts/src/session-manager-harness-probe.test.ts
  modules/kteam-ts/src/session-manager.ts
Due: none

feat(kteam): gate Fable on weekly quota
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
Due: none

feat(secrets): converge Obsidian, gh and gws auth declaratively
  Taskfile.yaml
  home-template.nix
  modules/load-secrets/default.sh
  scripts/secrets/capture-auth.sh
  secrets.enc.yaml
Due: shfmt, cfg-scripts, yaml-fmt, nixpkgs-fmt

docs: explain the Workspace identity layout and login capture
  README.MD
Due: md-fmt

feat(secrets): capture gh + gws credentials
  modules/kloge-ts/src/deploy.test.ts
  modules/kloge-ts/src/deploy.ts
  secrets.enc.yaml
Due: yaml-fmt

fix(secrets): refresh gws-per credentials
  secrets.enc.yaml
Due: yaml-fmt

fix(secrets): restore keys dropped by capture-auth
  scripts/secrets/capture-auth.sh
  secrets.enc.yaml
Due: shfmt, cfg-scripts, yaml-fmt

chore(secrets): encrypt pending secret updates
  secrets.enc.yaml
Due: yaml-fmt

fix(kfleet): a 403 inference probe marks the account unavailable
  modules/kfleet-ts/src/core/usage.test.ts
  modules/kfleet-ts/src/core/usage.ts
Due: none

feat(kloge): add kloge-deploy for one-shot remote deploys
  home-template.nix
  modules/default.nix
Due: nixpkgs-fmt

refactor(secrets): move loge Claude tokens out of sops into transit
  modules/load-secrets/default.sh
  secrets.enc.yaml
Due: shfmt, cfg-scripts, yaml-fmt

feat(secrets): source ~/.secrets.local for host-local credentials
  home-template.nix
Due: nixpkgs-fmt

fix(kteam): stop routing to codex-auto-loge
  kfleet/config.yaml
  kfleet/skills-codex/rc-session/SKILL.md
  kfleet/skills/rc-session/SKILL.md
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
Due: yaml-fmt, md-fmt

chore(fleet): remove the codex loge and loio accounts
  kfleet/config.yaml
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills-codex/llm-refresh/SKILL.md
  kfleet/skills-codex/llm-refresh/reference.md
  kfleet/skills/kteam/SKILL.md
  kfleet/skills/llm-refresh/SKILL.md
  kfleet/skills/llm-refresh/reference.md
  modules/kloop-ts/src/agents/default-config.ts
  modules/kloop-ts/src/index.test.ts
  modules/kloop-ts/src/server/config.test.ts
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
Due: yaml-fmt, md-fmt

feat(kloge): trim the proxy model catalog to the fleet set
  kfleet/skills-codex/llm-refresh/reference.md
  kfleet/skills/llm-refresh/reference.md
  modules/kloge-ts/README.md
  modules/kloge-ts/cliproxy-fork/build.sh
  modules/kloge-ts/cliproxy-fork/models.keep.json
  modules/kloge-ts/cliproxy-fork/models.overlay.json
Due: shfmt, cfg-scripts, md-fmt

fix(kteam): requeue an overwritten injection to the queue-file route
  modules/kteam-ts/src/api-client.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager.ts
Due: none

feat(fleet): route sonnet/haiku to Sonnet 5.5 and Haiku 5.5
  kfleet/config.yaml
  kfleet/skills-codex/kautopilot/SKILL.md
  kfleet/skills-codex/kautopilot/visual.md
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills-codex/llm-refresh/SKILL.md
  kfleet/skills-codex/llm-refresh/scripts/probe-catalogs.sh
  kfleet/skills-codex/llm-refresh/scripts/smoke.sh
  kfleet/skills/kteam/SKILL.md
  kfleet/skills/llm-refresh/SKILL.md
  kfleet/skills/llm-refresh/scripts/probe-catalogs.sh
  kfleet/skills/llm-refresh/scripts/smoke.sh
  modules/kloge-ts/README.md
  modules/kloge-ts/cliproxy-fork/models.keep.json
  modules/kloge-ts/cliproxy-fork/models.overlay.json
Due: shfmt, cfg-scripts, yaml-fmt, md-fmt

feat(kteam): route sonnet/haiku to Sonnet 5.5 and Haiku 5.5
  modules/kteam-ts/src/analytics-cli.test.ts
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
  modules/kteam-ts/src/fleet-inventory.test.ts
  modules/kteam-ts/src/fleet-inventory.ts
  modules/kteam-ts/src/model-cost.test.ts
  modules/kteam-ts/src/model-cost.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/ui/src/components/AnalyticsResultTable.test.tsx
Due: none

docs(llm-refresh): note pre-existing test failures and treefmt retry
  kfleet/skills-codex/llm-refresh/SKILL.md
  kfleet/skills/llm-refresh/SKILL.md
Due: md-fmt

fix(kteam): retry launchd bootstrap during bootout teardown
  modules/kteam-ts/src/daemon-service.test.ts
  modules/kteam-ts/src/daemon-service.ts
Due: none

docs(fleet): let agents restart kteamd safely
  kfleet/CLAUDE.auto.md
  kfleet/CLAUDE.md
  kfleet/skills-codex/llm-refresh/SKILL.md
  kfleet/skills-codex/llm-refresh/reference.md
  kfleet/skills/llm-refresh/SKILL.md
  kfleet/skills/llm-refresh/reference.md
Due: md-fmt

fix(kteam): treat an absent pane pid as confirmed harness death
  modules/kteam-ts/src/tmux-controller.test.ts
  modules/kteam-ts/src/tmux-controller.ts
Due: none

fix(kteam): let any session claim files on a legacy task record
  modules/kteam-ts/src/tasks-cli.ts
  modules/kteam-ts/src/tasks.test.ts
  modules/kteam-ts/src/tasks.ts
Due: none

fix(kteam): re-check cached auth rejection before refusing start
  modules/kteam-ts/src/usage.test.ts
  modules/kteam-ts/src/usage.ts
Due: none

fix(kteam): retry wait through daemon blips, refuse pin verbs
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/pins-cli.test.ts
  modules/kteam-ts/src/pins-cli.ts
  modules/kteam-ts/src/wait-retry.test.ts
  modules/kteam-ts/src/wait-retry.ts
Due: none

fix(kteam): avoid false subprocess warden findings
  modules/kteam-ts/src/liveness.test.ts
  modules/kteam-ts/src/liveness.ts
  modules/kteam-ts/src/warden-detect.test.ts
  modules/kteam-ts/src/warden-detect.ts
Due: none

fix(kloge): refresh proxy after pull and guard remote auth
  modules/kloge-ts/README.md
  modules/kloge-ts/src/deploy.test.ts
  modules/kloge-ts/src/deploy.ts
  modules/kloge-ts/src/index.ts
Due: md-fmt

fix(kteam): emit session.model_fallback on model consent fallback
  modules/kteam-ts/src/claude-transcript.test.ts
  modules/kteam-ts/src/claude-transcript.ts
  modules/kteam-ts/src/fixtures/claude-model-consent-fallback-real.jsonl
  modules/kteam-ts/src/types.ts
Due: none

fix(kteam): defer refused busy sends without replaying input
  modules/kteam-ts/src/send-ledger.test.ts
  modules/kteam-ts/src/send-ledger.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/tmux-controller.test.ts
  modules/kteam-ts/src/tmux-controller.ts
  modules/kteam-ts/src/types.ts
Due: none

fix(kteam): accept completion before waiting on session locks
  modules/kteam-ts/src/api-client.ts
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/session-manager-launch.test.ts
  modules/kteam-ts/src/session-manager-wedge.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/types.ts
Due: none

Path conditions:
  shfmt: any of: ^.*\.sh$
  cfg-scripts: any of: ^.*\.sh$
  yaml-fmt: any of: ^.*\.(yaml|yml)$
  md-fmt: any of: ^.*\.(MD|md)$
  nixpkgs-fmt: any of: ^.*\.nix$
