Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

shfmt:
  name: Format Shell Scripts
  entry: pls fmt:sh
  pass_filenames: false
  language: system

cfg-scripts:
  name: Configure Scripts
  entry: pls cfg:scripts
  pass_filenames: false
  language: system

yaml-fmt:
  name: Format YAML with prettier
  entry: pls fmt:yaml
  pass_filenames: false
  language: system

md-fmt:
  name: Format Markdown with prettier
  entry: pls fmt:md
  pass_filenames: false
  language: system

nixpkgs-fmt:
  name: Format NIX files
  entry: pls fmt:nix
  language: system
  pass_filenames: false

fix(kteam): loud partition-tolerant bootstrap + self-healing check
  modules/kteam-ts/src/daemon-entry.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/warden-detect.ts
Due: none

feat(kteam-ui): mobile card mode + live activity line per agent
  modules/kteam-ts/ui-dist/assets/index-94-TsE2Q.css
  modules/kteam-ts/ui-dist/assets/index-BIIxcquv.js
  modules/kteam-ts/ui-dist/assets/index-CD9piaLt.css
  modules/kteam-ts/ui-dist/assets/index-qd1SGcgu.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui/src/pages/SessionsListPage.tsx
Due: none

docs(kteam): log large-session relaunch readiness misread
  kteam-prob.md
Due: md-fmt

fix(kteam): parse context percent for 1M-suffix statuslines
  modules/kteam-ts/src/tmux-controller.test.ts
  modules/kteam-ts/src/tmux-controller.ts
Due: none

fix(kteam): transcript-derived context, verdict reasons both formats
  modules/kteam-ts/src/claude-transcript.test.ts
  modules/kteam-ts/src/claude-transcript.ts
  modules/kteam-ts/src/codex-transcript.test.ts
  modules/kteam-ts/src/codex-transcript.ts
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
  modules/kteam-ts/src/daemon-config.ts
  modules/kteam-ts/src/daemon-entry.ts
  modules/kteam-ts/src/fixtures/warden-report-assigned.txt
  modules/kteam-ts/src/fixtures/warden-report-sweep.txt
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/warden-verdicts.test.ts
  modules/kteam-ts/src/warden-verdicts.ts
Due: none

fix(kteam): verdict reason when verdict word is inside bold
  modules/kteam-ts/src/fixtures/warden-report-assigned-leave.txt
  modules/kteam-ts/src/warden-verdicts.test.ts
  modules/kteam-ts/src/warden-verdicts.ts
Due: none

feat: add mmoney-cli (MoneyMonarch) + flake update
  flake.lock
  home-template.nix
Due: nixpkgs-fmt

fix(kteamd): end the wedge class, exit-143 spawns, unsupervised parks
  kfleet/skills/kteam/SKILL.md
  kteam-prob.md
  modules/kteam-ts/README.md
  modules/kteam-ts/src/api-client.ts
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/claude-transcript.test.ts
  modules/kteam-ts/src/claude-transcript.ts
  modules/kteam-ts/src/daemon-entry.ts
  modules/kteam-ts/src/daemon-service.test.ts
  modules/kteam-ts/src/daemon-service.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/names.ts
  modules/kteam-ts/src/service.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager-waiting.test.ts
  modules/kteam-ts/src/session-manager-wedge.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/storage-global.test.ts
  modules/kteam-ts/src/storage.ts
  modules/kteam-ts/src/types.ts
  modules/kteam-ts/src/warden-detect.ts
  modules/kteam-ts/ui/src/components/SessionHeader.tsx
  modules/kteam-ts/ui/src/pages/SessionsListPage.tsx
  modules/kteam-ts/ui/src/types.ts
Due: md-fmt

docs(kteam): log signal-hang + launch_backgrounded residuals
  kteam-prob.md
Due: md-fmt

feat(kfleet): Opus 5 for OAuth accounts, update claude/codex CLIs
  flake.lock
  kfleet/config.yaml
Due: yaml-fmt

chore: drop rtk (unused, blocked home-manager builds)
  home-template.nix
Due: nixpkgs-fmt

feat(kloge): opt-in CLIProxyAPI fork build for model-catalog lag
  modules/default.nix
  modules/kloge-ts/README.md
  modules/kloge-ts/cliproxy-fork/README.md
  modules/kloge-ts/cliproxy-fork/build.sh
  modules/kloge-ts/cliproxy-fork/models.overlay.json
  modules/kloge-ts/cliproxy-fork/upstream.env
  modules/kloge-ts/src/build.ts
  modules/kloge-ts/src/deploy.ts
  modules/kloge-ts/src/index.ts
  modules/kloge-ts/src/paths.ts
  modules/kloge-ts/src/render.test.ts
  modules/kloge-ts/src/render.ts
Due: shfmt, cfg-scripts, md-fmt, nixpkgs-fmt

fix(kfleet): keep liftoff on opus-4-8 (no Opus 5 access yet)
  kfleet/config.yaml
Due: yaml-fmt

docs(kteam): Opus 5 joins GPT-5.6-sol as top implementer tier
  kfleet/skills-codex/kteam/SKILL.md
  kfleet/skills/kteam/SKILL.md
Due: md-fmt

fix(kteam): launch-registration race; rewrite recommend with options
  kteam-prob.md
  modules/kteam-ts/README.md
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/session-manager-launch.test.ts
  modules/kteam-ts/src/session-manager-wedge.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/types.ts
  modules/kteam-ts/src/ui.ts
Due: md-fmt

perf(kteam): per-session event lanes; fix context window for aliases
  modules/kteam-ts/src/api-client.ts
  modules/kteam-ts/src/api-server.test.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/claude-transcript.ts
  modules/kteam-ts/src/codex-transcript.ts
  modules/kteam-ts/src/daemon-config.ts
  modules/kteam-ts/src/daemon-entry.ts
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/scratch-gc.ts
  modules/kteam-ts/src/service.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager-wedge.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/storage-fleet.test.ts
  modules/kteam-ts/src/storage-global.test.ts
  modules/kteam-ts/src/storage.test.ts
  modules/kteam-ts/src/storage.ts
  modules/kteam-ts/ui/src/pages/SessionChatPage.tsx
Due: none

feat(kfleet): Opus 5 fleet-wide; retire Opus 4.8 from recommend
  kfleet/config.yaml
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/core.ts
Due: yaml-fmt

perf(kteam): pointer-indexed transcripts, fast boot, fewer syncs
  modules/kteam-ts/src/api-client.ts
  modules/kteam-ts/src/api-server.ts
  modules/kteam-ts/src/core.test.ts
  modules/kteam-ts/src/daemon-config.ts
  modules/kteam-ts/src/daemon-entry.ts
  modules/kteam-ts/src/fixtures/claude-collapsed-paste.txt
  modules/kteam-ts/src/index.ts
  modules/kteam-ts/src/performance-audit.test.ts
  modules/kteam-ts/src/scratch-gc.test.ts
  modules/kteam-ts/src/session-manager-control.test.ts
  modules/kteam-ts/src/session-manager-interactive.test.ts
  modules/kteam-ts/src/session-manager.ts
  modules/kteam-ts/src/storage-chat-pointers.test.ts
  modules/kteam-ts/src/storage.ts
  modules/kteam-ts/src/tmux-controller.test.ts
  modules/kteam-ts/src/tmux-controller.ts
  modules/kteam-ts/src/types.ts
  modules/kteam-ts/src/warden-detect.test.ts
  modules/kteam-ts/src/warden-detect.ts
  modules/kteam-ts/ui-dist/assets/index-BIIxcquv.js
  modules/kteam-ts/ui-dist/assets/index-CcNPgq8J.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui/src/components/SessionHeader.tsx
  modules/kteam-ts/ui/src/pages/NewSessionPage.tsx
  modules/kteam-ts/ui/src/types.ts
Due: none

feat(kteam): interactive mode, RC by default, env-leak fixes
  modules/kteam-ts/ui-dist/assets/index-94-TsE2Q.css
  modules/kteam-ts/ui-dist/assets/index-BR7bn-29.css
  modules/kteam-ts/ui-dist/assets/index-CcNPgq8J.js
  modules/kteam-ts/ui-dist/assets/index-D7SNzawY.js
  modules/kteam-ts/ui-dist/index.html
  modules/kteam-ts/ui/src/components/ModeBadge.tsx
  modules/kteam-ts/ui/src/components/SessionHeader.tsx
  modules/kteam-ts/ui/src/pages/SessionsListPage.tsx
Due: none

feat(kteam): harden attach (nested tmux, --print)
  modules/kteam-ts/src/index.ts
Due: none

Path conditions:
  shfmt: any of: ^.*\.sh$
  cfg-scripts: any of: ^.*\.sh$
  yaml-fmt: any of: ^.*\.(yaml|yml)$
  md-fmt: any of: ^.*\.(MD|md)$
  nixpkgs-fmt: any of: ^.*\.nix$
