Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

feat: added .local/bin to PATH
  cloud-init.yaml
  home.nix
Due: yaml-fmt, nixpkgs-fmt

feat: added rclone
  home.nix
Due: nixpkgs-fmt

try: adding rclone pcloud
  home.nix
  modules/setup-pcloud-remote.nix
Due: nixpkgs-fmt

feat: added backup feature
  .direnv/cache-pre349906.7f65e4abd5e
  home.nix
  modules/backup-folder.nix
  modules/setup-pcloud-remote.nix
Due: nixpkgs-fmt

feat: added single-user installation of nix
  home.nix
Due: nixpkgs-fmt

fix: pls autocomplete
  home.nix
  plugins/pls/_pls
  zsh_custom/plugins/pls/_pls
  zsh_custom/themes/.gitignore
Due: nixpkgs-fmt

feat: better UI for backup system
  modules/backup-folder.nix
Due: nixpkgs-fmt

docs: how to use backup command
  README.MD
Due: md-fmt

fix: exa/ls autocomplete broken
  home.nix
Due: nixpkgs-fmt

fix: docker permissions
  cloud-init.yaml
  scripts/setup-workspace.sh
Due: shfmt, cfg-scripts, yaml-fmt

feat: more convenience scripts
  README.MD
  scripts/install-home-manager-single.sh
  scripts/kirin-config.sh
  scripts/only-home-manager.sh
Due: shfmt, cfg-scripts, md-fmt

feat: added ripgrep
  .direnv/cache-pre349906.7f65e4abd5e
  .direnv/drv
  home.nix
Due: nixpkgs-fmt

feat: nix allow unfree
  home.nix
Due: nixpkgs-fmt

feat: pin to coreutils for backup scripts
  home.nix
  modules/backup-folder.nix
  modules/setup-pcloud-remote.nix
Due: nixpkgs-fmt

feat: added ngrok
  home.nix
Due: nixpkgs-fmt

fix: NIXPKGS_ALLOW_UNFREE
  home.nix
  scripts/setup-workspace.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

refact: cleaner module scripts
  modules/backup-folder.nix
  modules/backup-folder.sh
  modules/setup-pcloud-remote.nix
  modules/setup-pcloud-remote.sh
Due: shfmt, cfg-scripts, nixpkgs-fmt

feat: added neofetch
  home.nix
Due: nixpkgs-fmt

feat: alias for direnv allow and docker ps
  .direnv/cache-pre297243.b27eaa18b47
  .direnv/cache-pre349720.5efc8ca9542
  .direnv/cache-pre349906.7f65e4abd5e
  .direnv/drv
  .gitignore
  home.nix
Due: nixpkgs-fmt

feat: added alias for pre-commit and home-manager switch + source ~/.zshrc
  home.nix
Due: nixpkgs-fmt
