Repository kirinnee/home-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: shfmt, cfg-scripts, yaml-fmt, md-fmt, nixpkgs-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 2.1.5
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: shfmt
        name: Format Shell Scripts
        entry: pls fmt:sh
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: cfg-scripts
        name: Configure Scripts
        entry: pls cfg:scripts
        files: ^.*\.sh$
        pass_filenames: false
        language: system

      - id: yaml-fmt
        name: Format YAML with prettier
        entry: pls fmt:yaml
        files: ^.*\.(yaml|yml)$
        pass_filenames: false
        language: system

      - id: md-fmt
        name: Format Markdown with prettier
        entry: pls fmt:md
        files: ^.*\.(MD|md)$
        pass_filenames: false
        language: system

      - id: nixpkgs-fmt
        name: Format NIX files
        entry: pls fmt:nix
        files: ^.*\.nix$
        language: system
        pass_filenames: false

feat(viewer): rendered markdown redline diff + version list
  modules/kautopilot-ts/src/server/data.ts
  modules/kautopilot-ts/src/server/page.ts
Due: none

docs: kautopilot present-via-revise + reviewers-before-present
  modules/agent-config/skills/kautopilot/SKILL.md
  modules/kautopilot-ts/CLI-CONTRACT.md
Due: md-fmt

feat: agent babysits kloop; binary verifies the outcome (decision A)
  home-template.nix
  modules/agent-config/skills/kautopilot/SKILL.md
  modules/kautopilot-ts/CLI-CONTRACT.md
  modules/kautopilot-ts/src/core/__tests__/devloop.test.ts
  modules/kautopilot-ts/src/core/devloop.ts
  modules/kautopilot-ts/src/steps/execution.ts
Due: md-fmt, nixpkgs-fmt

fix: address review findings (kloop run-id tracking, diff from/to)
  modules/kautopilot-ts/src/core/config.ts
  modules/kautopilot-ts/src/core/status.ts
  modules/kautopilot-ts/src/server/page.ts
Due: none

feat(kloop): require implementers to pipe verification commands to evidence
  modules/kloop-ts/src/agents/default-prompts.ts
Due: none

feat(viewer): markdown diff — word/line + inline/side-by-side toggles
  modules/kautopilot-ts/src/server/page.ts
Due: none

feat(viewer): kloop run viewer (adapted from vibe-dash)
  modules/kautopilot-ts/src/server/data.ts
  modules/kautopilot-ts/src/server/page.ts
  modules/kautopilot-ts/src/server/routes.ts
Due: none

feat: allow multiple kautopilot sessions per folder
  modules/kautopilot-ts/src/cli/resolve-session.ts
  modules/kautopilot-ts/src/core/__tests__/db.test.ts
  modules/kautopilot-ts/src/core/db.ts
Due: none

fix: address multi-agent review findings
  modules/agent-config/skills/kautopilot/SKILL.md
  modules/kautopilot-ts/CLI-CONTRACT.md
  modules/kautopilot-ts/src/cli/log-event.ts
  modules/kautopilot-ts/src/core/revisions.ts
  modules/kautopilot-ts/src/server/page.ts
Due: md-fmt

feat: kautopilot can launch from anywhere (not necessarily a repo)
  modules/agent-config/skills/kautopilot/SKILL.md
  modules/kautopilot-ts/src/cli/logs.ts
  modules/kautopilot-ts/src/cli/start.ts
  modules/kautopilot-ts/src/cli/status.ts
  modules/kautopilot-ts/src/steps/plan.ts
  modules/kloop-ts/spec/scratch-artifacts.md
Due: md-fmt

fix: surface launch-anywhere bad/missing repo path (no silent no-op)
  modules/agent-config/skills/kautopilot/SKILL.md
  modules/kautopilot-ts/src/steps/execution.ts
  modules/kloop-ts/SURFACE_CHANGELOG.md
  modules/kloop-ts/src/agents/default-config.ts
  modules/kloop-ts/src/agents/default-prompts.ts
  modules/kloop-ts/src/agents/prompts.ts
  modules/kloop-ts/src/agents/runner.ts
  modules/kloop-ts/src/cli/run.ts
  modules/kloop-ts/src/deps.ts
  modules/kloop-ts/src/loop/iteration.ts
  modules/kloop-ts/src/loop/runner.ts
  modules/kloop-ts/src/types.ts
Due: md-fmt

perf: run bun CLIs + loctl dynamically to speed up hms
  README.MD
  flake.lock
  flake.nix
  home-template.nix
  home.nix
  modules/default.nix
  modules/kautopilot-ts/CLAUDE.md
  modules/khost-ts/README.md
  modules/kloop-ts/README.md
  modules/kloop-ts/default.nix
Due: md-fmt, nixpkgs-fmt

chore: remove dead kloop-ts/default.nix (kloop is now a bun-run wrapper)
  modules/kloop-ts/default.nix
Due: nixpkgs-fmt

feat(codex): writable config.toml, account restructure, drop desktop app
  flake.lock
  home-template.nix
  modules/default.nix
  modules/kautopilot-ts/default.nix
Due: nixpkgs-fmt

feat(kloop): agent retries, model display, prompts tab, lens prompts
  modules/kloop-ts/src/agents/default-config.ts
  modules/kloop-ts/src/agents/default-prompts.ts
  modules/kloop-ts/src/agents/prompts.ts
  modules/kloop-ts/src/agents/runner.ts
  modules/kloop-ts/src/cli/describe.ts
  modules/kloop-ts/src/cli/review.ts
  modules/kloop-ts/src/cli/show.ts
  modules/kloop-ts/src/index.test.ts
  modules/kloop-ts/src/loop/format.ts
  modules/kloop-ts/src/loop/runner.ts
  modules/kloop-ts/src/server/page.ts
  modules/kloop-ts/src/status/materialize.ts
  modules/kloop-ts/src/stream/parse.ts
  modules/kloop-ts/src/types.ts
Due: none

feat(kfleet): /summary skill + kautopilot triage/spec litmus gate
  CLAUDE.md
  kfleet/CLAUDE.md
  kfleet/skills-codex/kautopilot/SKILL.md
  kfleet/skills-codex/summary/SKILL.md
  kfleet/skills/kautopilot/SKILL.md
  kfleet/skills/summary/SKILL.md
Due: md-fmt
